.flexRowContent--container-size--guide {
  display: flex;
  flex-direction: column;
}

.flexRowContent--container-size--guide :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
width: 100% !important;
}

.flexRow--container-size--guide :global(.vtex-store-components-3-x-container) {
  margin: 0 auto;
}

.flexCol--group-images {
  display: flex;
  flex-direction: row;
}

.flexRowContent--group-size--guide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexCol--group-image--one {
  border: 1px solid #000000;
  border-radius: 32px;
  padding: 10px;
}

.flexRowContent--group-size--guide :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  margin-left: 10px;
  margin-right: 10px;
}

.flexRow--group-size--guide {
  margin-top: 50px;
  margin-bottom: 60px;
}

.flexRowContent--group-size--guide :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  margin-left: 0;
}

.flexRowContent--group-size--guide :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  margin-right: 0;
}

.flexRow--container-size--guide {
  margin-top: 40px;
}

.flexColChild--group-images:first-child {
  margin-top: -50px;
}

@media screen and (min-width: 300px) and (max-width: 320px) {
  .flexRow--container-size--guide :global(.vtex-store-components-3-x-container)  {
    margin: 0 auto;
  }

  .flexColChild--group-images:first-child {
    margin-top: -30px;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .flexRow--container-size--guide :global(.vtex-store-components-3-x-container) {
    margin: 0 auto;
  }

  .flexColChild--group-images:first-child {
    margin-top: -35px;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .flexRow--container-size--guide :global(.vtex-store-components-3-x-container) {
    margin: 0 auto;
  }

  .flexColChild--group-images:first-child {
    margin-top: -35px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .flexRow--container-size--guide :global(.vtex-store-components-3-x-container)  {
    margin: 0 auto;
  }

  .flexColChild--group-images:first-child {
    margin-top: -35px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .flexRow--container-size--guide :global(.vtex-store-components-3-x-container) {
    margin: 0 auto;
    max-width: 95%;
  }

  .flexColChild--group-images:first-child {
    margin-top: -39px;
  }
}

@media screen and (min-width: 300px) and (max-width: 1024px) {
  .flexRow--container-size--guide :global(.vtex-store-components-3-x-container) {
    padding-left: 0;
    padding-right: 0;
  }

  .flexRow--container-size--guide {
    margin-top: 0px;
    background: #fff;
    padding-top: 20px;
    padding-inline: 30px;
  }
}

@media screen and (min-width: 1400px) {
  .flexRow--container-size--guide :global(.vtex-store-components-3-x-container){
    margin: 0 auto;
  }
}


/* slider */
@media screen and (min-width: 300px) and (max-width: 425px) {

  .flexRow--group-size--guide {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .flexRow--group-size--guide {
    width: 100% !important;
    height: 100%;
    overflow-y: auto;
  }

  .flexRowContent--group-size--guide {
    display: flex;
    width: 950px;
  }

  .flexRowContent--group-size--guide :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 100%;
  }

  .flexCol--group-image--one {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .flexRowContent--group-size--guide {
    width: 800px;
  }
}

@media screen and (min-width: 300px) and (max-width: 320px) {
  .flexRowContent--group-size--guide {
    width: 680px;
  }
}
