:global(.vtex-store__template),
:global(.vtex-store-drawer-0-x-drawer),
:global(.vtex-modal-layout-0-x-container),
:global(.vtex-minicart-2-x-drawer),
:global(.vtex-telemarketing-2-x-portalContainer),
:global(.vtex-login-2-x-portalContainer) {
  --primary-orange: #FC701C;
  --secondary-orange: #df6922;
  --primary-blue: #002f87;
  --secondary-blue: #4e7eff;
  --tertiary-blue: #f1f3f9;
}


:global(.vtex-rich-text-0-x-heading-level-1) {
  margin: 0px;
}

:global(.vtex-rich-text-0-x-headingLevel1--text-seccion-two),
:global(.vtex-rich-text-0-x-headingLevel2--text-seccion-two) {
  color: #062F87;
}

@media (max-width: 1024px) {
  :global(.vtex-rich-text-0-x-heading-level-1) {
    font-size: 32px;
  }

  :global(.vtex-rich-text-0-x-heading-level-2) {
    font-size: 22px;
  }
}