.productImagesContainer--product--images{
    background-color: #fff;
}

.productBrand{
    font-family: "Titillium Web";
    color: #062F87;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    line-height: inherit;
}

.skuSelectorContainer--product--sku-selector .skuSelectorSubcontainer--color .skuSelectorName,
.skuSelectorContainer--product--sku-selector .skuSelectorSubcontainer--size .skuSelectorName{
    font-family: Mukta;
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}
.skuSelectorContainer--product--sku-selector {
    margin-top: 0px;
}

.skuSelectorSubcontainer--color .skuSelectorOptionsList{
    border-right: 1px solid #062F8740;
}

.skuSelectorSubcontainer--color .skuSelectorItem--product--sku-selector--selected .frameAround--product--sku-selector{
    border:1px solid black;
    background-color: black;
    color: white;
    border-color: black !important;
    border:0px !important;
}
.frameAround--product--sku-selector {
    border: 0px !important;
}
.skuSelectorItemTextValue--product--sku-selector {
    color: black !important;
}
.skuSelectorItem--product--sku-selector--selected :global(.vtex-store-components-3-x-skuSelectorItemTextValue--product--sku-selector){
    color: white!important;
}
.skuSelectorInternalBox--product--sku-selector {
    border: 2px solid black;
    border-radius: 0px;
}
.skuSelectorItem--product--sku-selector--selected {
    border:1px solid black;
    background-color: black;
    color: white;
}

.skuSelectorSubcontainer--size .skuSelectorNameContainer{
    margin-right: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.skuSelectorName {
    font-size: 0px;
}
.skuSelectorName::before {
    content: "Tallas";
    display: block;
    font-family: "Mukta";
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    padding-block: 4px;
}
.skuSelectorSubcontainer--size .skuSelectorTextContainer{
    border-top: 1px solid #062F8740;
    padding-top: 10px;
}
.skuSelectorTextContainer {
    display: flex;  
    margin-bottom: 0px;
}

.skuSelectorSubcontainer--size{
    margin-bottom: 20px;
}

.skuSelectorSubcontainer--size .skuSelectorItem--selected .frameAround--product--sku-selector{
    display: none;
}

.skuSelectorSubcontainer--size .skuSelectorInternalBox--product--sku-selector{
    border-color: #000;
}

.skuSelectorSubcontainer--size .skuSelectorItem--selected {
    background-color: #000;
    border-radius: 4px;
}

.skuSelectorSubcontainer--size .skuSelectorItemTextValue--product--sku-selector,
.content--product--disclosures--description-content {
    color: #000;
}

.skuSelectorSubcontainer--size .skuSelectorItem--selected .skuSelectorItemTextValue {
    color: #fff;
}

:global(.vtex-flex-layout-0-x-flexRow--product--main--container) .container{
    padding: 0;
}

@media only screen and (max-width: 768px){
    .productBrand{
        font-size: 22px;
        line-height: 26px;
    }

    .productNameContainer{
        margin-top: 10px;
    }

    .skuSelectorSubcontainer--color .skuSelectorOptionsList{
        border-right: none;
    }
}