.container{
    background-color: #fff;
}

.homeIcon{
    display: none;
}

.homeLink::after{
    content: url(/arquivos/Group.svg);
    color: #FC701C;
    width: 24.28px;
}

.link,
.term,
.link:hover,
.term:hover{
    font-family: 'Mukta' !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 24px !important;
    line-height: 40px !important;
    color: #000000;
}

@media only screen and (max-width: 768px){
    .link,
.term,
.link:hover,
.term:hover{
    font-size: 16px !important;
    line-height: 20px !important;
}
}