.container {
    background-color: #fff;
}

.homeIcon {
    display: none;
}

.homeLink::after {
    content: url(/arquivos/Group.svg);
    color: #FC701C;
    width: 24.28px;
}

.link,
.term,
.link:hover,
.term:hover {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 40px;
    color: #000000;
}

.link--1::before {
    content: 'Categoría';
    margin-right: 5px;
}

@media only screen and (max-width: 768px) {

    .link,
    .term,
    .link:hover,
    .term:hover {
        line-height: 20px !important;
    }
}


@media screen and (min-width: 1920px) {
    .link,
    .term,
    .link:hover,
    .term:hover {
        font-size: 20px;
    }
}
