.container {
  background-color: #fff;
}

.homeIcon {
  display: none;
}

.homeLink::after {
  content: "";
  color: #fc701c;
  width: 25px;
  background: url(/arquivos/Group.svg);
  display: block;
  height: 25px;
  background-size: 100%;
}

.link,
.term,
.link:hover,
.term:hover {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 40px;
  color: #000000;
}

.link--1::before {
  content: "Categoría";
  margin-right: 5px;
}

@media (max-width: 1024px) {
  .link,
  .term,
  .link:hover,
  .term:hover {
    line-height: 20px !important;
  }

  .term {
    display: none;
  }

  .homeLink::after {
    width: 15px;
    height: 15px;
  }
}

@media (min-width: 1920px) {
  .link,
  .term,
  .link:hover,
  .term:hover {
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  .link,
  .term,
  .link:hover,
  .term:hover {
    font-size: 12px;
  }
}
