:global(.vtex-flex-layout-0-x-flexRowContent--product--newsletter--container) .newsletterForm{
    padding: 50px;
    background-color: #fff;
}

@media (max-width: 1024px){
    :global(.vtex-flex-layout-0-x-flexRowContent--product--newsletter--container) .newsletterForm{
        padding: 15px;
        background-color: #fff;
    }
}
