.slide--shelf-slider--visible{
    padding-inline: 15px;
}

.imageElement {
  max-height: none !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--home-seccion-four) .sliderArrows--slider-home{
  width: 40px;
  height: 40px;
  top: -80px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--home-seccion-four) .sliderLeftArrow--slider-home{
  left: 29vw;
}

:global(.vtex-flex-layout-0-x-flexRowContent--home-seccion-four) .sliderRightArrow--slider-home{
  right: 29vw;
}

@media (max-width: 1024px){ /* MediaQuery para Tablets */
  :global(.vtex-flex-layout-0-x-flexRowContent--home-seccion-four) .sliderArrows--slider-home{
    top: -80px;
  }
}

@media (max-width: 768px){ /* MediaQuery para Telefonos */

}
.slide--shelfStyle1-related :global(.vtex-product-summary-2-x-container--shelf--plp) {
    max-width: 400px!important;
}
