.savings--summary{
    color: #EB0606;
    border: 1px solid #EB0606;
    padding: 2px 10px;
    font-family: Roboto;
}

@media (max-width: 1024px){ /* MediaQuery para Tablets */
    .savings--summary{
        font-size: 11px;
        padding: 2px 5px;
    }
}

@media (max-width: 768px){ /* MediaQuery para Telefonos */
    .savings--summary{
        font-size: 11px;
        padding: 2px 5px 2px 9px;
    }
}
