.slide--shelf-slider--visible{
    padding-inline: 15px;
}

.imageElement {
  max-height: none !important;
}

@media (max-width: 1024px){ /* MediaQuery para Tablets */

}

@media (max-width: 768px){ /* MediaQuery para Telefonos */

}
.slide--shelfStyle1-related :global(.vtex-product-summary-2-x-container--shelf--plp) {
    max-width: 400px!important;
}
