.imageElement--image-lotto {
  max-width: 40%;
}

.imageElement--seccionFive {
  z-index: 1;
}

@media (max-width: 1024px) {
  .imageElement--image-tab-home,
  .imageElement--seccionFive {
    min-width: 328px !important;
    max-width: 328px !important;
  }

}
