.paragraph--text-group {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 136.7%;
  color: #000000;
}

.paragraph--slider-text {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.paragraph--text-seccion-two {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #062F87;
}

.paragraph--ropa {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  color: #FFFFFF;
}

.paragraph--siempre-listos,
.paragraph--infotext,
.paragraph--promocion {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.paragraph--infotext {
  margin-top: 0;
  margin-bottom: 0;
}

.paragraph--promocion {
  padding-left: 50px;
}

.container--slider-text {
  display: flex;
  justify-content: center;
}

.paragraph--promocion::after {
  content: " Ver más →";
    font-size: 36px;
    color: #ED752D;
    position: absolute;
    right: 0;
}

.container--promocion {
  position: relative;
}

.paragraph--figura-text {
  position: absolute;
  bottom: 30px;
  left: 80px;
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 2;
color: #FFFFFF;
width: 200px;
}

@media (max-width: 1024px) {

  .paragraph--promocion::after {
      font-size: 0 !important;
  }
  .paragraph--text-seccion-two {
    font-size: 20px;
  }

  .paragraph--promocion,
  .paragraph--siempre-listos {
    font-size: 22px;
  }

  .paragraph--promocion::after {
      font-size: 22px;
  }

  .paragraph--slider-text {
    text-align: center;
    font-size: 25px;
  }

  .paragraph--promocion {
    padding-left: 0;
  }
}


@media screen and (min-width: 300px) and (max-width: 320px) {
  .paragraph--figura-text {
    left: 70px;
     font-size: 13px;
     width: 150px;
  }
  .paragraph--slider-text{
    font-size: 13px;
  }

  .paragraph--infotext {
    font-size: 15px !important;
    margin-top: -50px;
    margin-left: -12px;
  }
}


@media screen and (min-width: 321px) and (max-width: 375px) {
  .paragraph--figura-text {
     left: 85px;
     font-size: 16px;
     width: 180px;
  }
  .paragraph--slider-text {
    font-size: 16px !important ;
  }
}


@media screen and (min-width: 321px) and (max-width: 425px) {
  .paragraph--infotext {
    font-size: 18px !important;
    margin-top: -60px;
    margin-left: -12px;
  }

  .paragraph--figura-text {
    bottom: 20px;
  }
  .paragraph--slider-text {
    font-size: 14px ;
  }
}

@media screen and (min-width: 300px) and (max-width: 1024px) {
  .paragraph--text-group {
    font-size: 15px;
  }

  .paragraph--infotext {
    font-size: 20px;
  }
}

@media screen and (min-width: 1400px) {
  .paragraph--figura-text {
    left: 120px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .paragraph--figura-text {
    bottom: 20px;
    left: 70px;
  }
}

@media screen and (min-width: 300px) and (max-width: 425px) {
.paragraph--promocion {
  padding-left: 20px;
}
}


