.listItemActive--home1 :global(.vtex-button__label) {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: #062F87 !important;
  text-decoration: underline;
}

.listItemActive--home1 :global(.vtex-button) {
  background-color: transparent;
  border: transparent;
}

.listItemActive--home1 :global(.vtex-button):hover,
.listItem--home1 :global(.vtex-button):hover {
  background-color: transparent;
  border: transparent;
}

.listItem--home1 :global(.vtex-button__label) {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: rgba(0, 47, 135, 0.5);
}

@media (max-width: 1024px) {

  .listItemActive--home1 :global(.vtex-button__label),
  .listItem--home1 :global(.vtex-button__label) {
    font-size: 19px;
  }

  .listContainer--home1 {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 300px) and (max-width: 320px) {
  .listItemActive--home1 :global(.vtex-button__label),
  .listItem--home1 :global(.vtex-button__label) {
    font-size: 12px !important;
  }
}
