.imageElement--image-lotto {
  height: 35px;
  max-width: none;
}

.imageElement--seccionFive {
  z-index: 1;
}

.imageElement--figura-Five {
  position: absolute;
  bottom: 20px;
  z-index: 3;
  right: 20px;
}

.imageElement--link-image-home {
  margin-left: 10px;
}

@media (max-width: 320px) {
  .imageElement--image-explora {
    max-width: 160px;
    min-width: 160px;
    min-height: 160px;
  }
  .imageElement--link-image-home {
    margin-left: 0 !important;
    margin-right: 20px;
    max-width: 35px !important;
    min-height: 35px;
  }
}

@media (max-width: 425px) {
  .imageElement--figura-Five {
    bottom: 20px !important;
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 375px) {
  .imageElement--image-explora {
    max-width: 200px;
    min-width: 200px;
    min-height: 160px;
  }

  .imageElement--link-image-home {
    margin-left: 0 !important;
    margin-right: 5px;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .imageElement--link-image-home {
    margin-left: 0 !important;
    margin-right: 25px;
  }

  .imageElement--image-explora {
    max-width: 182px;
    min-width: 220px;
    min-height: 154px;
  }
}

@media (min-width: 426px) and (max-width: 1024px) {
  .imageElement--figura-Five {
    bottom: 20px !important;
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .imageElement--figura-Five {
    bottom: 30px !important;
  }
}

@media (max-width: 768px) {
  .imageElement--figura-Five {
    bottom: 10px;
  }
}

@media (max-width: 1024px) {
  .imageElement--image-tab-home,
  .imageElement--seccionFive {
    max-width: 328px !important;
    max-height: 345px !important;
  }

  .imageElement--link-image-home {
    margin-left: 10px;
  }

  .notificationContent--notification {
    color: #fff !important;
    line-height: 27.38px !important;
    font-weight: 400 !important;
  }
}

@media (max-width: 600px) {
  .imageElement--link-image-home {
    margin-right: 10px;
    max-width: 30px !important;
  }

  .imageElement--image-explora {
    object-fit: cover;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
    object-position: 75% 50%;
  }
}
