.flexRowContent--home-seccion-two,
.flexRowContent--home-seccion-three,
.flexRowContent--home-seccion-four,
.flexRowContent--home-seccion-five,
.flexRowContent--infocard,
.flexRowContent--home-seccion-seven,
.flexRowContent--home-seccion-one,
.flexRowContent--content-tab-item {
  display: flex;
  flex-direction: column;
}

.flexRowContent--home-seccion-two :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--home-seccion-three :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--home-seccion-four :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--home-seccion-five :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--home-seccion-seven :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--home-seccion-one :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--infocard :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

.flexRowContent--group-images-text-one {
  display: flex;
  align-items: center;
}

.flexRowContent--group-images {
  display: flex;
  flex-direction: row;
}

.flexRowContent--home-seccion-one {
  position: relative;
}

.flexRowContent--content-tab {
  position: relative;
}

.flexRow--content-tab-item-figura {
  background: #002F87;
  width: 100% !important;
  height: 160px;
  position: absolute;
  bottom: -430px;
  left: 0;
}

.flexRow--content-tab-item {
  z-index: 1;
  margin-left: 35px;
  margin-right: 35px;
}

.flexRow--home-seccion-three,
.flexRow--home-seccion-five {
  margin-top: 30px;
}

.flexRow--home-seccion-five {
  margin-bottom: 50px;
}

.flexRow--home-seccion-four {
  padding-top: 20px;
}

.flexRowContent--group-images-text-one {
  width: 300px;
  height: 117.22px;
  background: #FFFFFF;
  border-radius: 6.40298px;
  margin-right: 20px;
}

.flexRowContent--group-images-text-one :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
width: 30% !important;
}

.flexRowContent--group-images-text-one :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  width: 70% !important;
}

.flexRow--home-seccion-seven {
  background-color: #FFFFFF;
  border-radius: 4px;
  padding-bottom: 1.5rem;
  clip-path: polygon(0 0, 100% 1%, 100% 100%, 5% 100%);
  margin-left: 50px;
  margin-top: 50px;
}

.flexRowContent--home-seccion-six {
  background-color: #FFFFFF;
  align-items: center;
}

.flexRowContent--info-images :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  width: 100% !important;
}
.flexRowContent--info-images :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 0% !important;
}

.flexRowContent--info-images :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  width: 0% !important;
}

.flexRow--info-images-figura-one {
  width: 873px;
height: 350px;
background: #062F87;
border-radius: 4px;
clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
position: absolute;
left:20px;
bottom: 0;
z-index: 1;
}
.flexRow--info-images-figura-two {
  width: 814px;
  height: 320px;
  background: #FC701C;
  border-radius: 4px;
  clip-path: polygon(0 0, 77% 0, 100% 100%, 0 100%);
  position: absolute;
left:35px;
bottom: 0;
}

.flexRowContent--info-images {
  position: relative;
}

.flexRowContent--info-images :global(.vtex-store-components-3-x-imageElement--image-explora) {
  z-index: 3;
}

.flexRowContent--marcas-group {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

}

@media screen and (min-width: 1400px) {

  .flexRow--content-tab-item-figura {
    background: #002F87;
    width: 80.4% !important;
    height: 160px;
    position: absolute;
    bottom: -250px;
    left: 186px;
  }

  .flexRow--content-tab-item {
    z-index: 1;
    margin-left: 20px;
    margin-right: 20px;
  }

  .flexRow--home-seccion-seven {
    margin-left: 190px;
  }

  .flexRow--info-images-figura-one {
  height: 400px;
  }

  .flexRow--info-images-figura-two {
    height: 370px;
  }
}
