.listItemActive--home1 :global(.vtex-button__label) {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: #062F87 !important;
  text-decoration: underline;
}

.listItemActive--home1 :global(.vtex-button) {
  background-color: transparent;
  border: transparent;
}

.listItemActive--home1 :global(.vtex-button):hover,
.listItem--home1 :global(.vtex-button):hover {
  background-color: transparent;
  border: transparent;
}

.listItem--home1 :global(.vtex-button__label) {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: rgba(0, 47, 135, 0.5);
  text-transform: capitalize;
}

@media (max-width: 1024px) {

  .listItemActive--home1 :global(.vtex-button__label),
  .listItem--home1 :global(.vtex-button__label) {
    font-size: 18px;
  }

  .listContainer--home1 {
    flex-wrap: nowrap;
  }

  .listItem--home1{
    padding-block: 0;
    margin-block: 0;
  }

  .listItem--home1 :global(.vtex-button__label){
    padding: 0 !important;
    margin-block: 0;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
  }

  .listItem--home1{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .listItemActive--home1 :global(.vtex-button__label){
    text-decoration: none;
    border-bottom: 1px solid #062F87;
  }
}
