.sliderLeftArrow--slider-home,
.sliderRightArrow--slider-home {
  width: 64px;
  height: 64px;
  background: #ffffff !important;
  border-radius: 37.5px;
}

.sliderLeftArrow--slider-home {
  margin-left: 20px;
}

.sliderRightArrow--slider-home {
  margin-right: 20px;
}

.caretIcon--slider-home {
  width: 18px;
  height: 18px;
  color: #000000;
}

.sliderLeftArrow--shelfStyle1,
.sliderRightArrow--shelfStyle1 {
  width: 59px;
  height: 59px;
  border-radius: 50px;
  background: #062f87 !important;
}
.sliderLeftArrow--shelfStyle1 {
  left: -30px;
}
.sliderRightArrow--shelfStyle1 {
  right: -30px;
}

.sliderLeftArrow--shelfStyle1-related,
.sliderRightArrow--shelfStyle1-related {
  width: 34px;
  height: 34px;
  background: #062f87 !important;
  border-radius: 37.5px;
}
.sliderLeftArrow--shelfStyle1-related {
  left: 50px;
}
.sliderRightArrow--shelfStyle1-related {
  right: 50px;
}

.caretIcon--shelfStyle1,
.caretIcon--shelfStyle1-related {
  width: 18px;
  height: 18px;
  color: #ffffff;
}

.paginationDot--shelfStyle1 {
  width: 50px !important;
  border-radius: 0;
  margin-left: 20px;
  margin-top: auto;
  padding-bottom: 2px;
  padding-top: 2px;
  height: 0px !important;
  background: rgba(252, 112, 28, 0.5);
}

.paginationDot--shelfStyle1--isActive {
  width: 50px !important;
  height: 8px !important;
  border-radius: 0;
  background: #fc701c;
}

.paginationDotsContainer--shelfStyle1 {
  margin-top: 20px;
}

.sliderTrackContainer--shelfStyle1 {
  padding-bottom: 30px;
}

.sliderRightArrow--slider-text,
.sliderLeftArrow--slider-text {
  width: 42px;
  height: 42px;
  background: #ffffff !important;
  border-radius: 37.5px;
}

.sliderLeftArrow--slider-text {
  margin-left: 100px;
}

.sliderRightArrow--slider-text {
  margin-right: 100px;
}

.caretIcon--slider-text {
  width: 12.38px;
  height: 12.38px;
  color: #030303;
}

:global(.vtex-flex-layout-0-x-flexRowContent--home-seccion-one)
  .paginationDotsContainer {
  bottom: 20px;
}

@media (max-width: 1024px) {
  .sliderLeftArrow--slider-home {
    margin-left: 0;
  }

  .sliderRightArrow--slider-home {
    margin-right: 0;
  }

  .sliderLeftArrow--slider-home,
  .sliderRightArrow--slider-home {
    width: 40px;
    height: 40px;
  }

  .sliderLeftArrow--orange-slider,
  .sliderRightArrow--orange-slider {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1.15152px solid #FC701C;
  }

  .caretIcon--orange-slider {
    width: 7.13px;
    height: 7.13px;
    color: #FC701C;
  }

  .slideChildrenContainer--slider-text {
    width: 90%;
    margin: auto;
  }

  .slide--shelfStyle1--visible {
    padding-inline: 10px;
  }

  .caretIcon--slider-home {
    width: 8px;
    height: 8px;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--home-seccion-four) .caretIcon--slider-home{
    width: 12px;
    height: 12px;
  }

  .sliderLeftArrow--slider-home{
    left: 20px;
  }

  .sliderRightArrow--slider-home{
    right: 20px;
  }

  .sliderArrows--slider-text-two{
    bottom: unset;
    top: -78px;
  }

  .sliderRightArrow--slider-text-two{
    right: 5px !important;
  }

  .sliderLeftArrow--slider-text-two{
    left: 5px !important;
  }

  .sliderLeftArrow--slider-text{
    left: 12%;
  }

  .sliderRightArrow--slider-text{
    right: 12%;
  }

  .sliderTrackContainer--shelfStyle1 {
    padding-bottom: 45px;
  }
}

@media (max-width: 320px) {
  .sliderLeftArrow--slider-text {
    margin-left: 5px !important;
  }

  .sliderRightArrow--slider-text {
    margin-right: 5px !important;
  }
}

@media (max-width: 375px) {
  .sliderLeftArrow--slider-text {
    margin-left: 14px;
  }

  .sliderRightArrow--slider-text {
    margin-right: 14px;
  }

  .sliderRightArrow--slider-text,
  .sliderLeftArrow--slider-text {
    width: 25px;
    height: 25px;
  }

  .slide--shelfStyle1--visible {
    padding-inline: 5px;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .sliderLeftArrow--slider-text {
    margin-left: 3px;
  }

  .sliderRightArrow--slider-text {
    margin-right: 3px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .sliderLeftArrow--slider-text {
    margin-left: 30px;
  }

  .sliderRightArrow--slider-text {
    margin-right: 30px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .sliderLeftArrow--slider-text {
    margin-left: 200px;
  }

  .sliderRightArrow--slider-text {
    margin-right: 200px;
  }
}
