.flexRowContent--home-seccion-two,
/* .flexRowContent--home-seccion-three, */
.flexRowContent--home-seccion-four,
.flexRowContent--home-seccion-five,
.flexRowContent--infocard,
.flexRowContent--home-seccion-seven,
.flexRowContent--home-seccion-one,
.flexRowContent--content-tab-item {
  display: flex;
  flex-direction: column;
}

.flexRowContent--home-seccion-two :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
/* .flexRowContent--home-seccion-three :global(.vtex-flex-layout-0-x-stretchChildrenWidth), */
.flexRowContent--home-seccion-four :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--home-seccion-five :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
/* .flexRowContent--home-seccion-seven :global(.vtex-flex-layout-0-x-stretchChildrenWidth), */
.flexRowContent--home-seccion-one :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
.flexRowContent--infocard :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

.flexRowContent--infocard {
  gap: 20px;
  padding-left: 15%;
}

.flexRowContent--group-images-text-one {
  display: flex;
  align-items: center;
}

.flexRowContent--group-images {
  display: flex;
  flex-direction: row;
}

.flexRowContent--home-seccion-one {
  position: relative;
}

:global(.vtex-tab-layout-0-x-contentItem--home1) {
  position: relative;
}

.flexRow--content-tab-item-figura {
  background: #002f87;
  width: 100% !important;
  height: 160px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.flexRow--content-tab-item {
  z-index: 1;
  margin-left: 35px;
  margin-right: 35px;
}

.flexRow--home-seccion-three,
.flexRow--home-seccion-five {
  margin-top: 30px;
}

.flexRow--home-seccion-five {
  margin-bottom: 50px;
}

.flexRow--home-seccion-four {
  padding-top: 20px;
}

.flexRowContent--group-images-text-one {
  width: 300px;
  height: 117.22px;
  background: #ffffff;
  border-radius: 6.40298px;
  margin-right: 20px;
}

.flexRowContent--group-images-text-one
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  width: 30% !important;
}

.flexRowContent--group-images-text-one
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  width: 70% !important;
}

.flexRow--home-seccion-seven {
  background-color: #ffffff;
  border-radius: 4px;
  padding-bottom: 1.5rem;
  clip-path: polygon(0 0, 100% 1%, 100% 100%, 5% 100%);
  margin-left: 50px;
  margin-top: 65px;
}

.flexRowContent--home-seccion-six,
.flexRowContent--home-seccion-six-children {
  background-color: #ffffff;
  align-items: center;
}

.flexRowContent--info-images
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  width: 100% !important;
}

.flexRowContent--info-images
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 0% !important;
}

.flexRowContent--info-images
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  width: 0% !important;
}

.flexRow--info-images-figura-one {
  width: 873px;
  height: 95%;
  background: #062f87;
  border-radius: 4px;
  clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
  position: absolute;
  left: 20px;
  bottom: 0;
  z-index: 1;
}

.flexRow--info-images-figura-two {
  width: 100%;
  height: 90%;
  background: #fc701c;
  border-radius: 4px;
  clip-path: polygon(0 0, 77% 0, 100% 100%, 0 100%);
  position: absolute;
  left: 35px;
  bottom: 0;
}

.flexRowContent--info-images {
  position: relative;
}

.flexRowContent--info-images
  :global(.vtex-store-components-3-x-imageElement--image-explora) {
  z-index: 3;
}

.flexRowContent--marcas-group {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  justify-content: center;
  gap: 55px;
}

.flexRowContent--container-images-figura {
  display: flex;
  flex-direction: column;
  position: relative;
}

.flexRowContent--containerImages-figura {
  display: flex;
  flex-direction: row;
}

.flexRow--figura-orange {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fc701c;
  clip-path: polygon(0 1%, 100% 0, 100% 100%, 15% 100%);
  width: 95% !important;
  height: 110px;
  z-index: 1;
}

.flexRowContent--slider-mobile-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.flexRowContent--slider-mobile-home
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

.flexRowContent--home-seccion-six,
.flexRowContent--home-seccion-six-children {
  display: flex;
  flex-direction: row;
}

.flexRow--home-seccion-five,
.flexRow--home-seccion-six {
  margin-inline: 40px;
}

.flexRowContent--container-orange-two {
  margin-right: 10px;
}

.flexRowContent--group-images
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  margin-right: 20px;
}

.flexRowContent--group-images
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  margin-right: 0;
}

.flexRowContent--group-images-text-one {
  padding: 10px;
}

.flexCol--infocard-link {
  display: flex;
  flex-direction: row;
}

.flexRow--departament-seccion-three,
.flexRow--home-seccion-three :global(.vtex-store-components-3-x-container) {
  max-width: 100% !important;
  padding-left: 4%;
  padding-right: 4%;
}

.flexRow--departament-seccion-three {
  max-width: 100% !important;
  padding-left: 5%;
  padding-right: 5%;
}

@media screen and (min-width: 1400px) {
  .flexRow--content-tab-item {
    z-index: 1;
    margin-left: 20px;
    margin-right: 20px;
  }

  .flexRow--home-seccion-seven {
    margin-left: 125px;
  }
}

@media (max-width: 1024px) {
  .flexRow--orange-slider {
    background-color: #ffffff;
    margin-top: 60px;
    padding-bottom: 20px;
  }

  .flexRow--marcas-group {
    overflow-y: auto;
    width: 100%;
    height: 100%;
  }

  .flexRow--marcas-group {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .flexRow--marcas-group::-webkit-scrollbar {
    display: none;
  }

  .flexRow--content-tab {
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .flexRow--content-tab::-webkit-scrollbar {
    display: none;
  }

  .flexRowContent--content-tab {
    display: flex;
  }

  .flexRow--content-tab-item {
    margin: 0;
  }

  .flexRow--content-tab-item-figura {
    display: none;
  }

  .flexRowContent--group-images {
    gap: 10px;
    overflow-y: auto;
  }

  .flexRowContent--group-images {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .flexRowContent--group-images::-webkit-scrollbar {
    display: none;
  }

  .flexRow--group-images.flexRow--group-departament .flexRowContent--group-images {
    min-height: 400px;
  }

  .flexRowContent--content-tab
    :global(.vtex-store-components-3-x-imageElement--image-tab-home),
  .flexRowContent--content-tab :global(.vtex-rich-text-0-x-container--ropa) {
    margin-inline: 15px;
  }

  .flexRowContent--shelf--titles {
    max-width: 90%;
    margin-inline: auto;
  }

  .flexRow--home-seccion-three {
    margin-top: 0;
  }

  .flexRowContent--group-images-text-one {
    height: auto;
  }

  .flexRowContent--home-seccion-six-children {
    align-items: flex-start;
  }

  .flexRowContent--infocard {
    margin-top: 10px;
  }

  .flexRow--second-home--shelf--container {
    margin-top: 80px;
  }

  .flexRow--mobile-flex,
  .flexRow--mobile-flex :global(.vtex-store-components-3-x-container) {
    padding-inline: 0;
    margin-inline: 0;
  }

  .flexRow--footer-2-desktop {
    width: 100%;
  }

  /* .flexRowContent--mobile-flex .stretchChildrenWidth:nth-child(1n) .flexCol--column-contact-line{
    align-items: flex-end;
  } */

  .flexRowContent--mobile-flex
    .stretchChildrenWidth:nth-child(1n)
    .flexCol--column-contact-line
    .flexColChild--column-contact-line {
    max-width: 90vw;
    position: relative;
    right: -10vw;
  }

  .flexRowContent--mobile-flex
    .stretchChildrenWidth:nth-child(2n)
    .flexCol--column-contact-line
    .flexColChild--column-contact-line {
    max-width: 100vw;
    position: static;
  }

  .flexRow--home-seccion-four {
    margin-top: 30px;
  }
}

@media screen and (min-width: 300px) and (max-width: 320px) {
  .flexRow--figura-orange {
    height: 85px;
    right: -8px;
  }

  .flexRowContent--marcas-group {
    width: 700px;
    display: flex;
    gap: 25px;
  }

  .flexRowContent--home-seccion-five {
    padding-bottom: 40px;
  }

  .flexRowContent--content-tab {
    display: flex;
    gap: 30px;
  }

  .flexRowContent--group-images-text-one {
    width: 270px;
    margin-right: 10px;
  }

  .flexRowContent--group-images-text-one
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    width: 30% !important;
  }

  .flexRowContent--group-images-text-one
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 70% !important;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .flexRow--figura-orange {
    height: 90px;
    right: 14px;
    width: 85% !important;
  }

  .flexRowContent--marcas-group {
    width: 800px;
    display: flex;
    gap: 25px;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .flexRow--figura-orange {
    width: 85% !important;
    height: 85px;
    right: 14px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .flexRow--figura-orange {
    width: 89% !important;
    height: 90px;
    right: 11px;
  }

  .flexRowContent--group-images-text-one {
    width: 210px;
    margin-right: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .flexRow--figura-orange {
    width: 87% !important;
    height: 90px;
    right: 12px;
  }

  .flexRowContent--group-images-text-one {
    width: 280px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 321px) and (max-width: 1024px) {
  .flexRowContent--group-images-text-one
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    width: 20% !important;
  }

  .flexRowContent--group-images-text-one
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 80% !important;
  }

  .flexRowContent--home-seccion-five {
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  /* slider css */
  .flexRowContent--marcas-group {
    width: 1000px;
    display: flex;
    gap: 25px;
  }

  /* slider css */
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
  /* slider css */
  .flexRowContent--marcas-group {
    width: 1400px;
    display: flex;
    gap: 25px;
  }

  /* slider css */
}

@media screen and (max-width: 1024px) {
  .flexRowContent--marcas-group {
    padding-left: 0;
    justify-content: start;
  }

  .flexRow--orange-slider :global(.vtex-store-components-3-x-container) {
    padding-left: 0;
    padding-right: 0;
  }

  .flexRow--home-seccion-five {
    margin-bottom: 0;
  }

  .flexRow--home-seccion-five :global(.vtex-store-components-3-x-container) {
    padding: 0;
  }

  .flexRow--slider-mobile-home :global(.vtex-store-components-3-x-container) {
    padding-left: 0;
    padding-right: 0;
  }

  .flexRowContent--slider-mobile-home {
    background-color: #d9d9d1;
    padding-bottom: 20px;
  }

  .flexRow--home-seccion-five,
  .flexRow--home-seccion-six {
    margin-left: 0;
    margin-right: 0;
  }

  .flexCol--infocard-link {
    display: flex;
    flex-direction: row;
  }

  .flexRow--departament-seccion-three {
    padding-left: 4%;
    padding-right: 4%;
  }

  .flexRow--home-seccion-one :global(.vtex-store-components-3-x-container),
  .flexRow--home-seccion-six :global(.vtex-store-components-3-x-container) {
    padding: 0;
  }
}

@media screen and (min-width: 1440px) {
  .flexRow--home-seccion-three :global(.vtex-store-components-3-x-container) {
    padding-left: 4%;
    padding-right: 4%;
  }

  .flexRow--home-seccion-three
    :global(.vtex-rich-text-0-x-container--promocion) {
    padding-left: 2%;
    padding-right: 2%;
    width: auto;
  }
}

@media screen and (min-width: 1920px) {
  .flexRow--home-seccion-three :global(.vtex-store-components-3-x-container) {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media only screen and (max-width: 450px) {
  .flexRow--home-seccion-three :global(.vtex-store-components-3-x-container) {
    padding-left: 0;
    padding-right: 0;
  }

  .flexRow--home-seccion-three
    :global(.vtex-rich-text-0-x-container--promocion) {
    padding-left: 2%;
    padding-right: 2%;
    width: auto;
  }

  /* .flexRow--home-seccion-three
    :global(.vtex-slider-layout-0-x-sliderTrack--shelfStyle1) {
    width: 990% !important;
  } */
}

@media screen and (max-width: 600px) {
  .flexRow--info-images-figura-one {
    left: 9px;
  }

  .flexRow--info-images-figura-two {
    left: 15px;
  }
}

@media screen and (max-width: 425px) {
  .flexRowContent--infocard {
    gap: 0 !important;
  }
}
