.label--slider-link {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #FFFFFF;
}

.link--slider-link {
  text-decoration: none;
  width: 343.68px !important;
  height: 78px;
  background: #FC701C;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link--slider-link {
  position: absolute;
  top: 210px;
  left: 783px;
}

.link--infotext {
  text-decoration: none;
  margin-left: 70px;
  margin-top: 10px;
}

.label--infotext {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 42px;
  color: #002F87;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

}

@media screen and (min-width: 1400px) {
  .link--slider-link {
    top: 240px;
    left: 890px;
  }

  .link--infotext {
    margin-left: 119px;
  }
}
