.paragraph--text-group {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 136.7%;
  color: #000000;
}

.paragraph--slider-text {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #002F87;
}

.paragraph--text-seccion-two {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #062F87;
}

.paragraph--ropa {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  color: #FFFFFF;
}

.paragraph--siempre-listos,
.paragraph--infotext,
.paragraph--slider-text,
.paragraph--promocion {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.paragraph--infotext {
  margin-top: 0;
  margin-bottom: 0;
}

.paragraph--promocion {
  padding-left: 50px;
}

.container--slider-text {
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .paragraph--text-seccion-two {
    font-size: 24px;
  }

  .paragraph--promocion,
  .paragraph--slider-text,
  .paragraph--siempre-listos {
    font-size: 22px;
  }

  .paragraph--slider-text {
    text-align: center;
  }

  .paragraph--promocion {
    padding-left: 0;
  }
}

@media screen and (min-width: 300px) and (max-width: 320px) {
  .paragraph--slider-text{
    font-size: 13px;
  }
}

@media screen and (min-width: 321px) and (max-width: 425px) {
  .paragraph--slider-text{
    font-size: 17px;
  }
}

@media screen and (min-width: 300px) and (max-width: 1024px) {
  .paragraph--text-group {
    font-size: 15px;
  }
}


