.paragraph--text-group {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 136.7%;
  color: #000000;
}

.paragraph--slider-text {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #002F87;
}

.paragraph--text-seccion-two {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #062F87;
}

.paragraph--ropa {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  color: #FFFFFF;
}

.paragraph--siempre-listos,
.paragraph--infotext,
.paragraph--slider-text,
.paragraph--promocion {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.paragraph--infotext {
  margin-top: 0;
  margin-bottom: 0;
}

.paragraph--promocion {
  padding-left: 50px;
}

