.flexRow--footer-1-desktop{
  padding-top: 50px;
}

.flexRowContent--footer-1-desktop {
  flex-direction: column;
  align-items: center;
}

.flexRowContent--footer-2-desktop {
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px
}

.flexColChild--container-texts-contact-lines {
  height: 20px !important;
  margin: 5px 0;
}

.flexRow--footer-2-desktop {
  padding: 50px 0;
}

/* Card contact */
.flexRowContent--container-contact-lines {
  position: relative;
  width: 388px;
  z-index: 50;
  height: 97px;
  margin-top: 60px;
}

:global(.vtex-store-components-3-x-imageElement--img-1-contact-lines) {
  position: absolute;
  left: 43px;
  z-index: 10;
  top: -40px;
}

.flexCol--background-1-contact-lines,
.flexCol--background-2-contact-lines {
  background: #002f87;
  height: 97px;
  border-radius: 4px;
  position: absolute;
}

.flexCol--background-1-contact-lines {
  width: 60px !important;
  left: 17px;
  transform: skew(27deg);
}

.flexCol--background-2-contact-lines {
  width: 344px !important;
  right: 0;
}

.flexCol--container-texts-contact-lines {
  position: absolute;
  width: 200px !important;
  right: 20px;
}

/* *********** Footer 3 ************* */
.flexRowContent--footer-3-desktop {
  justify-content: center;
}

.flexRow--footer-3-desktop {
  background: #FFF;
  padding: 50px 0 50px 30px;
}

.flexCol--container-newsletter-footer-3 {
  padding: 0 30px;
}

.flexRow--footer-3-desktop :global(.vtex-store-link-0-x-link) {
  color: #000;
  text-decoration: none;
}

.flexRowContent--container-socialNetwork-info {
  padding-top: 5px;
}

.flexRowContent--container-socialNetwork-info .stretchChildrenWidth {
  justify-content: start;
}

.flexRowContent--container-socialNetwork-info .stretchChildrenWidth :global(.vtex-store-components-3-x-imageElement--info-brands-socialNetwork) {
  cursor: pointer;
}

.flexCol--container-footer-4-image-brand {
  margin-top: 28px
}

.flexRowContent--footer-4-desktop {
  align-items: center;
}

.flexColChild--container-footer-4-image-brand {
  display: flex;
}

.flexRow--footer-5-desktop {
  background-color: #002F87;
}
