.imageElement--image3 {
  max-width: 50% !important;
  position: absolute;
  left: -30px;
  z-index: 10;
  top: -83px;
}

.imageElement--image2 {
  max-width: 65% !important;
  position: absolute;
  left: -30px;
  z-index: 10;
  top: -72px;
}

.imageElement--image1 {
  max-width: 60% !important;
  position: absolute;
  left: -32px;
  z-index: 10;
  top: -56px;
}

.imageElement--image4 {
  max-width: 60% !important;
  position: absolute;
  left: 180px !important;
  z-index: 10;
  top: -59px;
}

:global(.vtex-flex-layout-0-x-flexRow--footer-7-mobile) .container,
:global(.vtex-flex-layout-0-x-flexRow--footer-6-mobile) .container,
:global(.vtex-flex-layout-0-x-flexRow--footer-5-mobile) .container,
:global(.vtex-flex-layout-0-x-flexRow--footer-4-mobile) .container,
:global(.vtex-flex-layout-0-x-flexRow--footer-3-mobile) .container,
:global(.vtex-flex-layout-0-x-flexRow--footer-2-desktop) .container,
:global(.vtex-flex-layout-0-x-flexRow--footer-1-desktop) .container{
  max-width: 100vw;
}

:global(.vtex-flex-layout-0-x-flexRow--footer-5-mobile) .container{
  max-width: 100vw;
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .imageElement--image3 {
    top: -92px;
  }

  .imageElement--image4 {
    top: -65px;
  }

  .imageElement--image1 {
    top: -65px;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .imageElement--image3 {
    top: -73px;
  }

  .imageElement--image4 {
    top: -53px;
    left: 135px !important;
  }

  .imageElement--image1 {
    top: -48px;
  }
}

@media screen and (min-width: 300px) and (max-width: 320px) {
  .imageElement--image3 {
    top: -48px;
  }

  .imageElement--image4 {
    top: -30px;
    left: 145px !important;
  }

  .imageElement--image1 {
    top: -26px;
  }
}
