.wrapper--footer-row-1-text-1 .paragraph,
.wrapper--footer-row-1-text-2 .paragraph {
  color: #000;
  font-size: 35px;
  margin: 10px 0;
  line-height: 1;
}

.wrapper--footer-row-1-text-1 .paragraph {
  font-size: 35px;
}

.wrapper--footer-row-1-text-2 .paragraph {
  font-size: 20px;
}

.wrapper--text-1-contact-lines .paragraph,
.wrapper--text-2-contact-lines .paragraph {
  font-size: 16px;
  color: #fff;
}

.wrapper--text-1-contact-lines .paragraph {
  font-weight: bold;
}


:global(.vtex-flex-layout-0-x-flexRow--footer-5-desktop) .paragraph {
  font-size: 16px;
  color: #FFF;
}

.container--title-newsletter {
  margin-bottom: 28px;
}

.heading--title-newsletter {
  color: #000;
  font-size: 22px;
  margin: 28px 0 28px;
}

.paragraph--title-newsletter {
  color: #000;
  font-size: 18px;
  margin: 0;
}

.wrapper--footer-4-text-brands .paragraph {
  color: #000;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
