.sellingPriceValue--selling-price--plp {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}


.listPriceValue--list-price--plp {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #8F8F8F;
}

.savings--summary--plp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #EB0606;
  border: 0.988883px solid #EB0606;
  color: #FFFFFF;
   width: 73.12px !important;
  padding: 5px 0 !important;
}

.savingsPercentage--summary--plp {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.sellingPrice--selling-price--plp,
.listPrice--list-price--plp {
  text-align: left;
}

@media screen and (min-width: 300px) and (max-width: 425px) {

  :global(.vtex-flex-layout-0-x-flexRowContent--prices-plp) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 33% !important;
  }

  .savings--summary--plp {
    background: transparent;
    border: 0.988883px solid #EB0606;
    color: #EB0606;
    height: 22px;
  }
}

@media screen and (min-width: 1920px) {
.sellingPriceValue--selling-price--plp, .savingsPercentage--summary--plp {
  font-size: 18px;
}

.listPriceValue--list-price--plp {
  font-size: 14px;
}
}

@media screen and (max-width: 450px) {
  .sellingPriceValue--selling-price--plp, .savingsPercentage--summary--plp {
    font-size: 15px;
  }
  .listPriceValue--list-price--plp {
    font-size: 10px;
  }

  .savingsPercentage--summary--plp {
    font-size: 13px;
  }
}

@media screen and (max-width: 375px) {
  .savings--summary--plp {
    width: 55px !important;
  }
}
