.productBrand--name--plp {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  height: auto;
}

:global(.vtex-flex-layout-0-x-flexRowContent--shelfComplete) .productBrand--name--plp{
  font-size: 20px;
}

.nameWrapper--name--plp {
  display: flex;
  justify-content: left;
  text-align: left;
  height: 50px;
}

.nameContainer--name--plp {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: left;
  text-align: left;
}

.element--shelf--plp {
  background: #FFFFFF;
  padding-bottom: 15px;
}

.element--shelf--plp :global(.vtex-button) {
  width: 66%;
  margin-left: 15px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--shelfComplete) .element--shelf--plp :global(.vtex-button){
  width: 50%;
  height: 45px;
  margin-left: 15px;
}

.clearLink--shelf--plp {
  border-radius: none;
}

.element--shelf--plp :global(.vtex-button__label) {
  padding: 0 !important;
  font-family: 'Mukta';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #FFFFFF;
  text-transform: capitalize;
}

.element--shelf--plp :global(.vtex-button__label) :global(.vtex-add-to-cart-button-0-x-buttonText) {
  padding: 0 !important;
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #FFFFFF;
  text-transform: capitalize;
  font-size: 0px;
}

.element--shelf--plp :global(.vtex-button__label) :global(.vtex-add-to-cart-button-0-x-buttonText)::before {
  content: "Añadir a carrito";
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  white-space: nowrap;
}

:global(.vtex-flex-layout-0-x-flexRowContent--shelfComplete) .element--shelf--plp :global(.vtex-button__label) :global(.vtex-add-to-cart-button-0-x-buttonText)::before{
  content: "Añadir a carrito";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  white-space: nowrap;
}

.element--shelf--plp :global(.vtex-button__label)::before {
  content: "";
  background-image: url("/arquivos/carrito-new.png");
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: block;
  background-size: contain;
    background-repeat: no-repeat;
}


.nameContainer--name--plp,
.productBrandContainer--brand--plp {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}

.description {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  height: 50px;
  font-size: 0.8rem;
  text-align: justify;
}

:global(.vtex-flex-layout-0-x-flexRowContent--shelfComplete) .description{
  font-size: 20px;
}

.containerNormal--shelf--plp{
  border-radius: 4px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--shelfComplete) .containerNormal--shelf--plp{
  max-width: 440px !important;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .element--shelf--plp :global(.vtex-button__label) {
    font-size: 10px !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .element--shelf--plp :global(.vtex-button__label) {
    font-size: 14px;
  }
}

@media screen and (min-width: 300px) and (max-width: 320px) {

  .nameContainer--name--plp,
  .productBrandContainer--brand--plp,
  .description {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .element--shelf--plp :global(.vtex-button) {
    margin-left: 5px;
    width: 70% !important;
  }

  .description {
    height: 50px;
    margin-top: 5px;
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 300px) and (max-width: 425px) {
  .productBrand--name--plp {
    font-size: 13.4857px;
  }

  .nameContainer--name--plp {
    padding-top: 0.5rem;
    padding-bottom: 0;
  }

  .element--shelf--plp :global(.vtex-button__label) {
    font-size: 15px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .element--shelf--plp :global(.vtex-button) {
    width: 70%;
  }

  .element--shelf--plp :global(.vtex-button__label) {
    font-size: 15.4122px;
  }

}

@media screen and (min-width: 300px) and (max-width: 375px) {

  .nameContainer--name--plp,
  .productBrandContainer--brand--plp {
    padding-left: 10px;
    padding-right: 10px;
  }

  .element--shelf--plp :global(.vtex-button) {
    width: 60%;
  }

}

@media screen and (min-width: 321px) and (max-width: 425px) {

  .nameContainer--name--plp,
  .productBrandContainer--brand--plp {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .element--shelf--plp :global(.vtex-button) {
    margin-left: 10px;
  }
}
