 @media screen and (min-width: 300px) and (max-width: 1024px) {
  .container--sticky-header  {
    padding: 0 !important;
   }

   .wrapper--sticky-header {
     background: #ed752d;
   }

   .wrapper--sticky-header--stuck, .wrapper--stuck  {
    background: #ed752d;
   }

   .wrapper--sticky-header--stuck .container--sticky-header {
    background: #ed752d;
   }
}
