.flexRowContent--department-two-banners-container-row{
    justify-content: space-between;
}
.flexRow--department-two-banners-container-row,
.flexRow--department-newsletter-banner-row{
    margin-top: 20px;
}

.flexRow--header-flex {
  width : calc(1300px - 22px * 2);
  margin: 0 auto;
}

.flexRow--breadcrumb-plp--flex {
  width : calc(1300px - 15px * 2);
  margin: 0 auto;
}

.flexRow--container--search {
  background-color: #DFDFDF;
  padding-bottom: 40px;
}

.flexRow--container--search :global(.vtex-store-components-3-x-container) {
  padding-left: 0;
  padding-right: 0;
}


.flexRow--container--search :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  background-color: #DFDFDF;
}

.flexRowContent--content--container {
  flex-direction: column;
}

.flexRowContent--content--container :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

.flexRowContent--search-info--container :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
  display: flex;
  justify-content: right;
}

.flexRow--content--container {
  width : calc(1024px - 45px * 2) !important;
  margin: 0 auto !important;
}

.flexRow--products-container--search {
  margin-top: 60px;
}

.flexRowContent--prices-plp :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  background-color: transparent !important;
}

.flexRowContent--prices-plp {
  display: flex;
  align-items: center;
}

.flexRow--prices-plp {
  border-top: 1.79173px solid #000000;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

 .flexRow--fetch--more {
margin-top: 15px;
}

.flexRowContent--order--by {
  display: flex;
  justify-content: space-between;
}

.flexRowContent--total-plp  {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flexRowContent--total-plp :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child  {
 width: 55% !important;
}

.flexRowContent--total-plp :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child  {
  width: 20% !important;
 }


