/* .wrapper--sticky-header {
  background: #ed752d;
  width: 100% !important;
} */

@media screen and (min-width: 300px) and (max-width: 320px) {
  .container--sticky-header {
    width: calc(300px - 15px * 2);
    margin: 0 auto;
   }

 }

@media screen and (min-width: 321px) and (max-width: 375px) {
  .container--sticky-header {
    width: calc(360px - 15px * 2);
    margin: 0 auto;
   }

 }

 @media screen and (min-width: 376px) and (max-width: 425px) {
  .container--sticky-header {
    width: calc(420px - 20px * 2);
    margin: 0 auto;
   }

 }

 @media screen and (min-width: 426px) and (max-width: 768px) {
  .container--sticky-header {
    width: calc(730px - 20px * 2);
    margin: 0 auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container--sticky-header  {
    width: calc(999px - 40px * 2);
    margin: 0 auto;
   }
 }


 @media screen and (min-width: 300px) and (max-width: 1024px) {
  .container--sticky-header  {
    padding: 0 !important;
   }

   .wrapper--sticky-header {
     background: #ed752d;
   }
}
