.sellingPriceValue--selling-price--plp {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}

.listPriceValue--list-price--plp {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #8f8f8f;
}

.savings--summary--plp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  background: #eb0606;
  color: #fff;
  width: 50px !important;
  padding: 5px 11px !important;
}

.savingsPercentage--summary--plp {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.sellingPrice--selling-price--plp,
.listPrice--list-price--plp {
  text-align: left;
}

.currencyFraction,
.currencyDecimal {
  display: none;
}

@media (max-width: 425px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--prices-plp)
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 33% !important;
  }

  .savings--summary--plp {
    border: 0.988883px solid #eb0606;
    color: #eb0606;
    background: #eb0606;
    color: #fff;
  }
}

@media (max-width: 450px) {
}

@media (max-width: 375px) {
  .savings--summary--plp {
    width: 55px !important;
  }
}
