.caretIcon {
  display: none;
}

.container,
.arrow {
  display: flex;
  align-items: center;
}

.arrow::before {
  content: "";
  margin-inline: 5px;
  border-right: 1px solid;
  border-color: #ababab;
  font-size: 29px;
  width: 1px;
  display: inline-block;
  height: 20px;
}

.homeIcon--breadcrumb--plp {
  display: none;
}

.homeLink--breadcrumb--plp::after {
  content: url(/arquivos/Group.svg);
  color: #fc701c;
  width: 24.28px;
}

.link--breadcrumb--plp:hover {
  color: #000000;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .container--breadcrumb--plp {
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .homeLink--breadcrumb--plp {
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
