.productBrand--name--plp {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  height: 45px;
}

.nameWrapper--name--plp {
  display: flex;
  justify-content: left;
  text-align: left;
}

.nameContainer--name--plp {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: left;
  text-align: left;
}

.element--shelf--plp {
  background: #FFFFFF;
  padding-bottom: 15px;
}

.element--shelf--plp :global(.vtex-button) {
  width: 62%;
  margin-left: 15px;
}

.clearLink--shelf--plp {
  border-radius: none;
}

.element--shelf--plp :global(.vtex-button__label) {
  padding: 0;
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #FFFFFF;
  text-transform: capitalize;
}

.element--shelf--plp :global(.vtex-button__label)::before {
  content: url("/arquivos/carrito.png");
  width: 20px;
  margin-right: 10px;
}


.nameContainer--name--plp,
.productBrandContainer--brand--plp {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .element--shelf--plp :global(.vtex-button__label) {
    font-size: 10px !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .element--shelf--plp :global(.vtex-button__label) {
    font-size: 14px;
  }
}

@media screen and (min-width: 300px) and (max-width: 320px) {
  .nameContainer--name--plp,
  .productBrandContainer--brand--plp {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .element--shelf--plp :global(.vtex-button) {
    margin-left: 5px;
    width: 70% !important;
  }
}

@media screen and (min-width: 300px) and (max-width: 425px) {
  .productBrand--name--plp {
    font-size: 13.4857px;
  }

  .nameContainer--name--plp {
    padding-top: 0.5rem;
    padding-bottom: 0;
  }

  .element--shelf--plp :global(.vtex-button__label) {
    font-size: 15px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .element--shelf--plp :global(.vtex-button) {
    width: 70%;
  }

  .element--shelf--plp :global(.vtex-button__label) {
    font-size: 15.4122px;
  }

}

@media screen and (min-width: 300px) and (max-width: 375px) {
  .nameContainer--name--plp,
  .productBrandContainer--brand--plp {
    padding-left: 10px;
    padding-right: 10px;
  }

  .element--shelf--plp :global(.vtex-button) {
    width: 60%;
  }

}

@media screen and (min-width: 321px) and (max-width: 425px) {
  .nameContainer--name--plp,
  .productBrandContainer--brand--plp {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .element--shelf--plp :global(.vtex-button) {
    margin-left: 10px;
  }
}

