:global(.vtex-product-summary-2-x-element--shelf--plp) {
  position: relative;
}

.wishlistIconContainer--wishlist---plp {
  position: absolute;
  right: 20px;
  z-index: 1;
}


.wishlistIconContainer--wishlist---plp :global(.vtex-button)::before{
  content: url(/arquivos/corazonplp.svg);
 /*  content: url(/arquivos/corazon-rojo.svg); */
}

/* .wishlistIconContainer--wishlist---plp :global(.vtex-button)::after{
  content: url(/assets/search/corazon-rojo.svg);
} */

.wishlistIconContainer--wishlist---plp :global(.vtex-button):hover {
  background-color: transparent !important;
}

.wishlistIconContainer--wishlist---plp :global(.vtex-button__label) {
  padding: 10px;
}

.wishlistIconContainer--wishlist---plp :global(.vtex-button)::before:hover{
  background-color: transparent !important;
}

.wishlistIconContainer--wishlist---plp :global(.vtex-button__label) {
  display: none;
}

@media screen and (min-width: 300px) and (max-width: 425px) {
  .wishlistIconContainer--wishlist---plp :global(.vtex-button)::before{
    margin-left: -10px;
  }
}

