.sellingPriceValue--selling-price--plp {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}

.listPriceValue--list-price--plp {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #8F8F8F;
}

.savings--summary--plp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8.89995px;
  gap: 9.89px;
  background: #EB0606;
  border: 0.988883px solid #EB0606;
  color: #FFFFFF;
  width: 78.12px !important;
height: 37.58px;
padding: 0 !important;
}

.savingsPercentage--summary--plp {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}
