 @media (max-width: 1024px) {
  .container--sticky-header  {
    padding: 0 !important;
   }

   .wrapper--sticky-header {
     background: #FC701C;
   }

   .wrapper--sticky-header--stuck, .wrapper--stuck  {
    background: #FC701C;
   }

   .wrapper--sticky-header--stuck .container--sticky-header {
    background: #FC701C;
   }
}
