.flexRowContent--department-two-banners-container-row {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  margin-bottom: 20px;
  padding-left: 4%;
  padding-right: 3%;
}

.flexCol--banner-genero2 {
  padding-left: 15px;
}

.flexCol--banner-genero1 {
  padding-right: 15px;
}

.flexRow--department-newsletter-banner-row {
  margin-top: 80px;
  margin-bottom: 40px;
}

.flexCol--newsletter-container,
.flexRow--breadcrumb-plp--flex {
  background-color: #ffff;
}

.flexRow--container--search {
  background-color: #f1f3f9;
  padding-bottom: 40px;
}

.flexRow--container--search :global(.vtex-store-components-3-x-container) {
  padding-left: 0;
  padding-right: 0;
}


.flexRow--container--search :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  background-color: #f1f3f9;
}

.flexRowContent--content--container {
  flex-direction: column;
}

.flexRowContent--content--container :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

.flexRowContent--search-info--container :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
  display: flex;
  justify-content: right;
}

.flexRow--content--container {
  padding-left: 30px;
  padding-right: 30px;
}

.flexRow--products-container--search {
  margin-top: 15px;
}

.flexRowContent--prices-plp :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  background-color: transparent !important;
}

.flexRowContent--prices-plp {
  display: flex;
  align-items: center;
}

.flexRowContent--header-flex {
  padding: 0 3%;
}

.flexRow--prices-plp {
  border-top: 1.79173px solid #F1F3F9;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.flexRow--fetch--more {
  margin-top: 15px;
}

.flexRowContent--order--by {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 10px;
  padding-right: 20px;
}

.flexRowContent--total-plp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flexRowContent--prices-plp :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  margin-right: 5px;
  width: 25% !important;
}

.flexRowContent--prices-plp {
  position: relative;
}

.flexRowContent--prices-plp :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  margin-right: 0;
  position: absolute;
  right: 0;
  justify-content: flex-end;
}

:global(.vtex-flex-layout-0-x-flexRowContent--shelfComplete) .flexRowContent--prices-plp :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  right: 0px;
  justify-content: flex-end;
}

.flexRowContent--department-newsletter-banner-row :global(.vtex-store-newsletter-1-x-newsletterForm) {
  padding: 7%;
}

.flexRowContent--department-newsletter-banner-row :global(.vtex-store-newsletter-1-x-formSubmitContainer) :global(.vtex-button__label) {
  text-transform: capitalize;
}



/* genero */
.flexCol--department-main-container-col :global(.vtex-breadcrumb-1-x-container--breadcrumb--plp) {
  padding-left: 3%;
  padding-right: 3%;
}

.flexRowContent--departament-seccion-three {
  display: flex;
  flex-direction: column;
}

.flexRow--titles-promociones-departamento {
  width: 100%;
}

.flexRowContent--titles-promociones-departamento {
  padding-left: 6%;
  padding-right: 6%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.flexRowContent--departament-seccion-three :global(.vtex-product-summary-2-x-containerNormal--shelf--home) {
  max-width: 320px !important;
  margin-right: 10px;
  margin-left: 10px;
}

.flexRow--group-departament .flexRow--figura-orange {
  height: 90px;
  bottom: -45px;
}

.flexRow--group-departament :global(.vtex-rich-text-0-x-paragraph--figura-text) {
  bottom: -10px;
}

.flexRow--group-departament :global(.vtex-store-components-3-x-imageElement--figura-Five) {
  bottom: -25px;
  width: 50px;
  height: 50px;
}

.flexRow--home-seccion-two :global(.vtex-store-components-3-x-container) {
 padding: 0px;
}

/* genero */

@media screen and (min-width: 1300px) and (max-width: 1440px) {
  .flexRow--content-tab-item-figura {
    left: 0;
  }
}

@media screen and (min-width: 300px) and (max-width: 320px) {
  .flexRow--prices-plp {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .flexRowContent--prices-plp :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    margin-right: 5px;
    width: 33% !important;
  }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {

  .flexRow--container--search-mobiles :global(.vtex-store-components-3-x-container),
  .flexRow--breadcrumb-plp--flex :global(.vtex-store-components-3-x-container),
  .flexRow--search-info--container-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--header-mobile {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

@media screen and (min-width: 300px) and (max-width: 425px) {

  .flexRow--container--search-mobiles :global(.vtex-store-components-3-x-container),
  .flexRow--breadcrumb-plp--flex :global(.vtex-store-components-3-x-container),
  .flexRow--search-info--container-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--header-mobile {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media screen and (min-width: 300px) and (max-width: 1024px) {
  .flexRowContent--search-info--container-mobile {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .flexRowContent--prices-plp :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 33% !important;
  }

  .flexRow--search-info--container-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--container--search-mobiles :global(.vtex-store-components-3-x-container),
  .flexRow--content--container-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--breadcrumb-plp--flex :global(.vtex-store-components-3-x-container) {
    padding-left: 0;
    padding-right: 0;
  }

  .flexRowContent--search-info--container-mobile,
  .flexRowContent--container--search-mobiles {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .flexRowContent--container--search-mobiles :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    justify-content: right;
  }

  .flexRow--search-info--container-mobile,
  .flexRow--container--search-mobiles,
  .flexRow--content--container-mobile {
    background-color: #f1f3f9;
  }

  .flexRowContent--content--container-mobile {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    background-color: #f1f3f9;
  }

  .flexRowContent--content--container-mobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 100% !important;
  }

  .flexRowContent--departament-seccion-three :global(.vtex-product-summary-2-x-containerNormal--shelf--home) {
    height: auto;
  }

  .flexRowContent--departament-seccion-three :global(.vtex-product-summary-2-x-image) {
    height: 100% !important;
  }

  .flexRowContent--department-two-banners-container-row {
    padding-left: 2%;
    padding-right: 2%;
  }

  .flexRowContent--titles-promociones-departamento {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media screen and (min-width: 1400px) {

  .flexRow--breadcrumb-plp--flex :global(.vtex-store-components-3-x-container),
  .flexRow--container--search :global(.vtex-store-components-3-x-container) {
    max-width: 100% !important;
  }

  .flexRowContent--breadcrumb-plp--flex,
  .flexRowContent--header-flex {
    padding-left: 28px;
  }

  .flexRow--home-seccion-one :global(.vtex-store-components-3-x-container) {
    max-width: 120rem !important;
    padding-right: 0;
    padding-left: 0;
  }

  .flexRow--home-seccion-two :global(.vtex-store-components-3-x-container) {
    max-width: 105rem !important;
  }

  .flexRowContent--titles-promociones-departamento {
    padding-left: 5%;
    padding-right: 5%;
  }

  .flexRow--departament-seccion-three {
    max-width: 100% !important;
    padding-left: 4%;
    padding-right: 4%;
  }

  .flexRow--home-seccion-four :global(.vtex-store-components-3-x-container) {
    max-width: 109rem !important;
  }

  .flexRow--home-seccion-five :global(.vtex-store-components-3-x-container) {
    max-width: 104rem !important;
  }

  .flexRow--home-seccion-six :global(.vtex-store-components-3-x-container) {
    max-width: 104rem !important;
  }

  .flexRow--home-seccion-seven :global(.vtex-store-components-3-x-container) {
    max-width: 104rem !important;
  }
}

@media screen and (min-width: 1440px) {
  .flexRow--department-two-banners-container-row {
    margin-top: 70px;
  }

  :global(.vtex-store-newsletter-1-x-newsletterForm) {
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--department-newsletter-banner-row) :global(.vtex-store-newsletter-1-x-newsletterForm) {
    background-color: white;
    padding-left: 120px;
    padding-right: 120px;
  }

  .flexColChild--newsletter-container {
    background-color: white;
  }

  .flexRowContent--home-seccion-three :global(.vtex-slider-layout-0-x-sliderTrackContainer--shelfStyle1) {
    padding-bottom: 70px;
  }

  .flexCol--department-main-container-col .flexRow--home-seccion-three {
    padding-left: 3%;
    padding-right: 3%;
  }

  .flexCol--department-main-container-col :global(.vtex-breadcrumb-1-x-container--breadcrumb--plp) {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}

@media screen and (min-width: 1920px) {
  .flexRowContent--order--by {
    margin-left: 20px;
    padding-right: 30px;
  }

  .flexRowContent--department-two-banners-container-row,
  .flexCol--department-main-container-col :global(.vtex-breadcrumb-1-x-container--breadcrumb--plp) {
    padding-left: 2%;
    padding-right: 2%;
  }

  .flexRow--shelfComplete {
    width: 100%;
  }

  .flexRow--group-departament .flexRow--figura-orange {
    width: 90% !important;
    right: 13px;
  }

  .flexRowContent--titles-promociones-departamento {
    padding-left: 5.5%;
    padding-right: 5.5%;
  }
}

@media screen and (max-width: 450px) {
  .flexCol--banner-genero2 {
    display: none;
  }

  .flexRowContent--department-two-banners-container-row {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .flexRowContent--department-two-banners-container-row .stretchChildrenWidth:first-child {
    width: 100% !important;
  }

  .flexCol--banner-genero1 {
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .flexRowContent--department-newsletter-banner-row {
    display: flex;
    flex-direction: column-reverse;
  }

  .flexRowContent--department-newsletter-banner-row .stretchChildrenWidth {
    width: 100% !important;
  }
}

@media screen and (min-width: 449px) and (max-width: 1024px) {
}

@media screen and (max-width: 450px) {

  .flexRowContent--departament-seccion-three :global(.vtex-product-summary-2-x-containerNormal--shelf--plp) {
    margin-right: auto;
    margin-left: auto;
  }

  .flexRow--departament-seccion-three {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 1024px) {
.flexRowContent--group-departament :global(.vtex-store-components-3-x-imageElement--figura-Five){
bottom: -25px !important;
}

.flexRowContent--group-departament :global(.vtex-rich-text-0-x-paragraph--figura-text){
 font-size: 16px;
  }

  .flexRow--prices-plp {
    border-top: none;
  }

  .flexRowContent--shelf--titles .stretchChildrenWidth{
    height: max-content !important;
  }
}
