.notificationBarContainer--notification-plp {
  background-color:  #1D3557;
}

.notificationBarInner--notification-plp {
  width : calc(1320px - 10px * 2);
  margin: 0 auto;
}

.notificationContent--notification-plp {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #93ECFF;
}

.infoCardTextContainer--info-card-1 {
  height: 600px;
  margin-left: 2rem;
  margin-right: 0;
  display: flex;
  justify-content: flex-end;
}

.infoCardTextContainer--info-card-1 :global(.vtex-button__label) {
  font-family: 'Mukta';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 165.5%;
color: #FFFFFF;
text-transform: initial;
}

@media screen and (min-width: 1920px) {
  .infoCardTextContainer--info-card-1 :global(.vtex-button__label) {
  font-size: 18px;
  }
}
