:global(.vtex-flex-layout-0-x-flexRowContent--department-newsletter-banner-row) .heading--title-newsletter {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

@media (min-width: 1920px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--department-newsletter-banner-row) .heading--title-newsletter {
    font-size: 32px;
  }
}
