@media screen and (min-width: 300px) and (max-width: 320px) {
  .flexRow--footer-1-desktop,
  .flexRow--footer-3-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--footer-4-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--footer-5-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--footer-6-mobile :global(.vtex-store-components-3-x-container) {
    margin: 0 auto;
  }

  .flexRowContent--footer-4-mobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 80% !important;
  }
/* estilos azul footer */
  .flexRowContent--container-contact-lines {
    width: 100% !important;
  }

  .flexCol--background-1-contact-lines-mobile {
    left:220px;
    right: 0 !important;
  }

  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) .flexCol--background-2-contact-lines-mobile,
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) .flexCol--background-2-contact-lines  {
    width: 250px!important;
  }

  .flexCol--container-texts-contact-lines-mobile {
    left: -20px !important;
  }

  .flexCol--container-texts-contact-lines {
    right: -20px !important;
  }
  /* estilos azul footer */
}

@media screen and (min-width: 321px) and (max-width: 375px) {
/* estilos azul footer */
  .flexRowContent--container-contact-lines {
    width: 100% !important;
    max-width: 95vw;
  }

  .flexCol--background-1-contact-lines-mobile {
    left:239px;
    right: 0 !important;
  }

  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) .flexCol--background-2-contact-lines-mobile,
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) .flexCol--background-2-contact-lines {
    width: 310px!important;
  }

  .flexCol--container-texts-contact-lines-mobile {
    left: 5px !important;
  }

  .flexCol--container-texts-contact-lines {
    right: 5px !important;
  }
  /* estilos azul footer */

  .flexRow--footer-1-desktop,
  /* .flexRow--mobile-flex, */
  .flexRow--footer-3-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--footer-4-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--footer-5-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--footer-6-mobile :global(.vtex-store-components-3-x-container)  {
    margin: 0 auto;
  }

  .flexRowContent--footer-4-mobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 60% !important;
  }

  .flexRow--footer-7-mobile :global(.vtex-store-components-3-x-container) {
    width: calc(360px - 10px * 2);
    margin: 0 auto;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .flexRow--footer-1-desktop,
  .flexRow--mobile-flex,
  .flexRow--footer-3-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--footer-4-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--footer-5-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--footer-6-mobile :global(.vtex-store-components-3-x-container) {
    margin: 0 auto;
  }

  .flexCol--background-2-contact-lines:first-child,
  .flexCol--background-2-contact-lines-mobile:first-child {
    width: 320px!important;
  }

  .flexRowContent--container-contact-lines {
    width: 100% !important;
  }

  .flexRowContent--footer-4-mobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 50% !important;
  }

  .flexRow--footer-7-mobile :global(.vtex-store-components-3-x-container) {
    width: calc(480px - 40px * 2);
    margin: 0 auto;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .flexRow--footer-1-desktop,
  .flexRow--mobile-flex,
  .flexRow--footer-3-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--footer-4-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--footer-5-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--footer-6-mobile :global(.vtex-store-components-3-x-container) {
    margin: 0 auto;
  }

  .flexRowContent--footer-4-mobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 40% !important;
  }

  .flexRow--footer-7-mobile :global(.vtex-store-components-3-x-container) {
    width: calc(800px - 40px * 2);
    margin: 0 auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .flexRow--footer-1-desktop,
  .flexRow--footer-3-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--footer-4-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--footer-5-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--footer-6-mobile :global(.vtex-store-components-3-x-container) {
    margin: 0 auto;
    max-width: 95%;
  }

  .flexRow--footer-7-mobile :global(.vtex-store-components-3-x-container) {
    width: calc(1080px - 40px * 2);
    margin: 0 auto;
  }

  .flexRowContent--footer-4-mobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 30% !important;
  }
}

@media screen and (min-width: 300px) and (max-width: 1024px) {
  .flexRow--footer-3-mobile,
  .flexRow--footer-4-mobile,
  .flexRow--footer-5-mobile,
  .flexRow--footer-6-mobile {
    background-color: #FFFFFF;
  }

.flexRow--footer-6-mobile {
  padding-bottom: 20px;
}

  .flexCol--group-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .flexRow--footer-7-mobile {
    padding-top: 20px;
    background: #002F87;
    padding-bottom: 10px;
  }

  .flexRowContent--footer-7-mobile {
    display: flex;
    flex-direction: column;
  }

  .flexRowContent--footer-7-mobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 100% !important;
  }

  .flexRow--footer-1-desktop :global(.vtex-store-components-3-x-container),
  .flexRow--footer-3-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--footer-4-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--footer-5-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--footer-6-mobile :global(.vtex-store-components-3-x-container),
  .flexRow--footer-7-mobile :global(.vtex-store-components-3-x-container){
    padding-left: 0;
    padding-right: 0;
  }

  .flexRow--mobile-flex {
    padding: 0 !important;
  }

  .flexRowContent--mobile-flex {
    padding-bottom: 60px;
  }

  .flexRowContent--footer-1-desktop :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 100% !important;
  }

  .flexCol--background-2-contact-lines-mobile {
    width: 344px!important;
    left: 0;
    background: #002f87;
    height: 97px;
    border-radius: 0px;
    position: absolute;
  }

  .flexCol--background-1-contact-lines,
  .flexCol--background-2-contact-lines {
    border-radius: 0px !important;
  }

  .flexCol--background-1-contact-lines-mobile {
    width: 60px!important;
    right: 43px;
    transform: skew(-27deg);
    background: #002f87;
    height: 97px;
    border-radius: 4px;
    position: absolute;
  }

  .flexCol--container-texts-contact-lines-mobile {
    position: absolute;
    width: 200px!important;
    left: 20px;
  }

  .flexRowContent--footer-3-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .flexRowContent--footer-3-mobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    width: 60% !important;
  }

  .flexRowContent--footer-3-mobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 40% !important;
  }

  .flexRowContent--footer-4-mobile {
    display: flex;
    flex-direction: column;
  }

  .flexRowContent--container-socialNetwork-info {
    display: flex;
    flex-direction: row;
    padding-top: 0 !important;
    margin-top: -5px;
  }

  .flexRow--footer-5-mobile {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .flexRowContent--footer-6-mobile {
    display: flex;
    flex-direction: column;
  }

  .flexRowContent--footer-6-mobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 100% !important;
  }

  .flexRowContent--footer-logos {
    display: flex;
    flex-direction: row;
  }

  .flexCol--medios-pago-1 {
    display: flex;
    flex-direction: column;
  }

  .flexCol--medios-pago-1-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .flexColChild--text-2-mobile{
    height: max-content !important;
  }

  .flexRow--footer-3-mobile,
  .flexRow--footer-4-mobile,
  .flexRow--footer-6-mobile,
  .flexRow--footer-5-mobile{
    padding-inline: 18px;
    box-sizing: border-box;
  }

  .vtex-store-newsletter-1-x-newsletterForm{
    width: calc(100vw - 25px);
  }
}

@media screen and (min-width: 300px) and (max-width: 425px) {

  .flexCol--medios-pago-1 .flexColChild--medios-pago-1:last-child {
    width: 70% !important;
  }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {

  .flexCol--medios-pago-1 .flexColChild--medios-pago-1:last-child {
    width: 58% !important;
  }
}


.flexRowContent--footer-logos :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  width: 80% !important;
}
