@media screen and (min-width: 300px) and (max-width: 320px) {
  .paragraph--text-one-footer {
    font-size: 10px !important;
  }

  .wrapper--mobile-rich .paragraph--mobile-rich,
  .wrapper--mobile-rich-one .paragraph--mobile-rich-one {
    font-size: 10px !important;
    margin-bottom: 0;
  }

  .wrapper--mobile-rich .paragraph--mobile-rich{
    margin-top: 25px;
  }

  .paragraph--marginTop {
    margin-top: 20px !important;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .paragraph--text-1-contact-lines {
    margin-top: 1rem !important;
  }
}

@media screen and (min-width: 300px) and (max-width: 375px) {
  .paragraph--textcopy {
    font-size: 10px !important;
  }

  .paragraph--text-one-footer {
    font-size: 11px;
  }

  .paragraph--mobile-rich, .paragraph--mobile-rich-one {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 376px) and (max-width: 1024px) {
  .paragraph--text-one-footer, .paragraph--textcopy {
    line-height: 22px;
  }

  .paragraph--text-one-footer {
    font-size: 13px;
  }
}

@media screen and (min-width: 300px) and (max-width: 1024px) {
  .paragraph--footer-row-1-text-1 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 22px !important;
    line-height: 33px !important;
    color: #000000 !important;
  }

  .paragraph--footer-row-1-text-2 {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 500;
    font-size: 20px !important;
    text-align: center;
    color: #000000 !important;
  }

  .paragraph--mobile-rich {
    margin-bottom: 0;
  }

  .paragraph--mobile-rich-one {
    margin-top: 0;
  }

  .heading--title-newsletter {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 18px !important;
    text-transform: uppercase;
    color: #000000 !important;
  }

  .paragraph--title-newsletter {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 17px !important;
    color: #000000 !important;
  }

  .paragraph--textcopy {
    font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  }

  .paragraph--text-one-footer {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
  }
}
