/* .imageElement--img-1-contact-lines-mobile {
  position: absolute;
  right: 43px;
  z-index: 10;
  top: -40px;
} */

@media (max-width: 375px) {
  .imageElement--img-1-contact-lines-mobile {
    right: 50px;
  }
}

@media (max-width: 320px) {
  .imageElement--img-1-contact-lines-mobile {
    right: 50px;
  }
}
