.flexRow--faq-container :global(.vtex-store-components-3-x-container),
.flexRow--preguntas :global(.vtex-store-components-3-x-container) {
  width: calc(1280px - 15px * 2);
  margin: 0 auto;
}

.flexRow--faq-container, .flexRow--preguntas {
  background-color: #ffffff;
}

.flexRowContent--preguntas :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  justify-content: left;
}


@media screen and (min-width: 300px) and (max-width: 320px) {
  .flexRow--faq-container :global(.vtex-store-components-3-x-container),
  .flexRow--preguntas :global(.vtex-store-components-3-x-container)  {
    width: calc(330px - 5px * 2);
    margin: 0 auto;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .flexRow--faq-container :global(.vtex-store-components-3-x-container),
  .flexRow--preguntas :global(.vtex-store-components-3-x-container)  {
    width: calc(385px - 5px * 2);
    margin: 0 auto;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {

  .flexRow--faq-container :global(.vtex-store-components-3-x-container),
  .flexRow--preguntas :global(.vtex-store-components-3-x-container) {
    width: calc(435px - 5px * 2);
    margin: 0 auto;
  }
}


@media screen and (min-width: 426px) and (max-width: 768px) {
  .flexRow--faq-container :global(.vtex-store-components-3-x-container),
  .flexRow--preguntas :global(.vtex-store-components-3-x-container) {
    width: calc(779px - 5px * 2);
    margin: 0 auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .flexRow--faq-container :global(.vtex-store-components-3-x-container),
  .flexRow--preguntas :global(.vtex-store-components-3-x-container) {
    width: calc(999px - 40px * 2);
    margin: 0 auto;
  }
}


@media screen and (min-width: 300px) and (max-width: 1024px) {
  .flexRow--faq-container :global(.vtex-store-components-3-x-container),
  .flexRow--preguntas :global(.vtex-store-components-3-x-container)  {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1400px) {
  .flexRow--faq-container :global(.vtex-store-components-3-x-container),
  .flexRow--preguntas :global(.vtex-store-components-3-x-container)  {
    width: calc(1480px - 36px * 2);
    margin: 0 auto;
  }
}
