.container--faq {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f1f3f9;
}

.listContainer--faq-tab--list {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.contentContainer--faq-content {
  background-color: #ffffff;
}

.listItem--tab-prueba :global(.vtex-button) {
  border-bottom: 1px solid #CECFD2;
}

.listItem--tab-prueba :global(.vtex-button) :global(.vtex-button__label) {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
  color: #000000;
  text-transform: capitalize;
  padding-left: 0;
  padding-right: 0;
}

.listItem--tab-prueba :global(.vtex-button):hover {
  background-color: transparent !important;
}
