:global(.vtex-product-summary-2-x-element--shelf--plp) {
    position: relative;
}

.productHighlightWrapper--collection-ultimas-piezas {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background-color: #000;
    padding: 12.7735px;
    z-index: 1;
}

@media (max-width: 1024px) {
    .productHighlightWrapper--collection-ultimas-piezas {
        font-size: 12px;
        padding: 8px;
    }
}

@media (max-width: 450px) {
    :global(.vtex-search-result-3-x-galleryItem) .productHighlightWrapper--collection-ultimas-piezas {
        font-size: 12px;
        padding:5px 10px;
      }
}

@media (max-width: 320px) {
    :global(.vtex-search-result-3-x-galleryItem) .productHighlightWrapper--collection-ultimas-piezas {
        font-size: 10px !important;
        padding:3px 6px !important;
      }
}
