@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Rubik"), local("Rubik-Regular"),
    url("https://eobando.vtexassets.com/assets/vtex/assets-builder/eobando.eobando-theme/1.1.2/fonts/rubik-regular___637e6eeebaa93d7f97395a48a0a0f1bb.woff2") format("woff2"),
    url("assets/fonts/rubik-regular.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Rubik"), local("Rubik-Medium"),
    url("https://eobando.vtexassets.com/assets/vtex/assets-builder/eobando.eobando-theme/1.1.2/fonts/rubik-500___cd70d6f2e3e5e41c02848f7165d3d993.woff2") format("woff2"),
    url("assets/fonts/rubik-500.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Rubik"), local("Rubik-Bold"),
    url("https://eobando.vtexassets.com/assets/vtex/assets-builder/eobando.eobando-theme/1.1.2/fonts/rubik-700___bfb36b6b7d4261bba78b5ff659e5103c.woff2") format("woff2"),
    url("assets/fonts/rubik-700.woff") format("woff");
}

/* **************************************************************************************************************************************************** */

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Mulish"), local("Mulish-Regular"),
    url("https://eobando.vtexassets.com/assets/vtex/assets-builder/eobando.eobando-theme/1.1.2/fonts/mulish-regular___f4429b00adf61350183e1037f446fd40.woff2") format("woff2"),
    url("assets/fonts/mulish-regular.woff") format("woff");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Mulish"), local("Mulish-Medium"),
    url("https://eobando.vtexassets.com/assets/vtex/assets-builder/eobando.eobando-theme/1.1.2/fonts/mulish-500___382dc2eb9467e2812a86cbf07eb4ddc4.woff2") format("woff2"),
    url("assets/fonts/mulish-500.woff") format("woff");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Mulish"), local("Mulish-Bold"),
    url("https://eobando.vtexassets.com/assets/vtex/assets-builder/eobando.eobando-theme/1.1.2/fonts/mulish-700___d08677b723b410a78debca060c4d2ca2.woff2") format("woff2"),
    url("assets/fonts/mulish-700.woff2") format("woff");
}
