.flexRow--contactanos-desktop :global(.vtex-store-components-3-x-container)  {
max-width: 100%;
background-color: #ffffff;
padding-left: 0;
padding-right: 0;
}

.flexRow--contactanos-mobile :global(.vtex-store-components-3-x-container) {
    padding-left: 0;
    padding-right: 0;
    background-color: #ffffff;
}

.flexRowContent--contactanos-desktop {
    display: flex;
    flex-direction: row;
}

.flexCol--contactanos-form {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.flexColChild--contactanos-form {
    height: auto !important;
}

.flexRowContent--contactanos-mobile {
    display: flex;
    flex-direction: column;
}

.flexRowContent--contactanos-mobile .stretchChildrenWidth {
width: 100% !important;
}
