.paragraph--title-contactanos,
.wrapper--title-contactanos,
.paragraph--title-devoluciones,
.wrapper--title-devoluciones {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 55px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
}

.paragraph--text-contactanos {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 114.69%;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color: #000000;
}

@media (min-width: 1920px) {
    .paragraph--title-contactanos {
        font-size: 26px;
    }

    .paragraph--text-contactanos {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .paragraph--title-contactanos {
        font-size: 18px;
    }

    .paragraph--text-contactanos {
        font-size: 16px;
    }
}
