.menuContainerNav--header-menu {
  display: flex;
}

.menuContainerNav--header-menu .menuItem--root {
  margin: 0 3px;
  padding: 0;
}

.menuContainerNav--header-menu .menuItem--root:last-child {
  margin-right: 0;
}

.menuContainerNav--header-menu .menuItem--root .styledLinkContainer--root {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
}

.menuContainerNav--header-menu .menuItem--root .styledLinkIcon--root {
  margin: 0;
}

.menuContainerNav--header-menu .menuItem--root .styledLink {
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.styledLink--blue-text:hover {
  color: #fff !important;
}

.menuContainerNav--header-menu .menuItem--root .styledLink--root {
  font-size: 1rem;
  transform: skewX(-30deg);
  padding: 0 12px;
}

.menuContainerNav--header-menu
  .menuItem--root
  .styledLink--root.styledLink--blue-text {
  color: var(--primary-blue);
}

.menuContainerNav--header-menu
  .menuItem--root
  .styledLink--root
  .styledLinkContent--root {
  transform: skewX(30deg);
}

.menuContainerNav--header-menu .menuItem--root .styledLink--root--highlight {
  background: #ffa320;
  margin: 3px 0;
  padding: 0 15px;
  border-radius: 4px;
  border: none;
}

.menuContainerNav--header-menu .submenuWrapper {
  background-color: white;
  padding: 22px 5%;
  border: none;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}

.menuContainerNav--header-menu
  .submenuWrapper
  :global(.vtex-flex-layout-0-x-flexRow--header-menu-content) {
  width: 100%;
}

.menuContainerNav--header-menu .submenuWrapper .styledLink {
  justify-content: start;
  color: #181818;
  font-family: "Mukta";
  font-size: 1rem;
}

.menuContainerNav--header-menu .accordionIcon {
  color: #fff;
  font-size: 0;
  transition: all 250ms ease-out 0s;
}

.menuContainerNav--header-menu .accordionIcon::before {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB1SURBVHgBrc7RCYAwDEXRgAs4iuP46Qhu4AqO0JHcQDfQDTTRFEqgmtf64H4U2kMbejZwLbcRPnnXc4d2Y6c2ETbBFn2765nGBETQFJPWCMoCiFpMftfZS8GJujAvCmFfaBH2hhZjObQKy6FVmEV/weJmL3YB7HxIcZK9hZ8AAAAASUVORK5CYII=");
}

.menuContainerNav--header-menu .accordionIcon--isOpen {
  transform: rotate(-180deg);
  transition: all 250ms ease-out 0s;
}

.menuContainerNav--header-menu .submenuAccordion .styledLinkContainer {
  margin: 0;
  padding: 6px 0;
}

.menuContainerNav--header-menu .submenuAccordion .styledLink {
  justify-content: start;
}

.styledLinkContent--submenu:hover {
  color: #fc701c;
}

.styledLink--submenu:hover {
  border-bottom: 1px solid #fc701c;
}

@media (min-width: 1024px) {
  .menuContainerNav--header-menu .menuItem--root--isOpen .styledLink--root {
    background-color: var(--primary-blue);
  }
}

@media (max-width: 1700px) {
  .menuContainerNav--header-menu .submenuWrapper {
    padding: 22px 3%;
  }

  .menuContainerNav--header-menu .styledLinkContent--root {
    font-size: 1rem;
  }

  .menuContainerNav--header-menu .submenuWrapper .styledLinkContent {
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  .styledLinkContent--orange-mobile {
    color: #ff671d;
  }

  .menuContainerNav--header-menu .menuItem .styledLinkContent--root {
    white-space: pre-line;
    transform: skewX(0) !important;
  }

  .menuContainerNav--header-menu
    :global(.vtex-rich-text-0-x-paragraph--header-menu-content-title) {
    font-size: 1rem;
  }

  .menuContainerNav--header-menu
    .menuItem--root
    .styledLink--mobile--highlight {
    padding: 12px 10px;
  }

  .menuContainerNav--header-menu .menuItem--root .styledLink--root {
    padding: 16px 18px;
    background: #ffffff;
    transform: skewX(0) !important;
    margin-bottom: 7px;
    color: #000000;
    font-size: 1.25rem;
    font-weight: 700;
  }

  .menuContainerNav--header-menu .menuItem--root .styledLinkIcon--whatsapp {
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menuContainerNav--header-menu .menuItem--root .styledLink--whatsapp {
    padding: 12px;
    background: #00d95f;
    color: white;
  }

  .menuContainerNav--header-menu .menuItem--root .styledLinkContent--whatsapp {
    white-space: pre-line;
  }

  .menuContainerNav--header-menu .submenuAccordion {
    background: white;
    margin-bottom: 10px;
  }

  .menuContainerNav--header-menu .menuItem--root .styledLink {
    color: black;
  }
}
