.flexRow--header-row {
  height: 100%;
  align-items: stretch;
  display: flex;
}

.flexColChild--submenu-header {
  height: auto !important;
}

.flexRowContent--notification {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
  .flexRowContent--header-menu-mobile {
    display: flex;
    flex-direction: column;
  }

  .flexRowContent--header-menu-mobile .stretchChildrenWidth {
    width: 100% !important;
  }
}
@media (max-width: 1024px) {
  .flexCol--header-menu-mobile {
    padding: 0 !important;
  }

  .flexRow--header-mobile {
    background-color: #ed752d;
  }
}
