:global(.vtex-sticky-layout-0-x-container--sticky-header) .logoLink {
  display: flex;
  align-items: center;
  justify-content: start;
}

:global(.vtex-sticky-layout-0-x-container--sticky-header) .logoContainer {
  padding: 5px;
  margin: 0;
  margin-right: 5px;
  display: flex;
  max-width: none;
}

.autoCompleteOuterContainer {
  margin-left: 15px;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  border: none;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input)::placeholder {
  color: rgba(0, 47, 135, 0.46);
}

.searchBarContainer .searchBarIcon {
  padding: 0;
}

.searchBarContainer .searchIcon {
  width: 25px;
  height: 25px;
  color: #002F87;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input),
.searchBarContainer :global(.vtex-input__suffix) {
background-color: #FFFFFF;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
font-size: 0.9rem;
}

.notificationBarContainer--notification {
  margin-left: -67px;
  width: 84.3rem;
  background: #1D3557;
  text-decoration: none;
}

.notificationContent--notification {
  font-size: 1rem;
  font-family: 'Titillium Web';
font-style: normal;
font-weight: 600;
color: #93ECFF;
}


@media (min-width: 1400px) {
  .searchBarContainer :global(.vtex-styleguide-9-x-input) {
    font-size: 1.25rem;
    }

    .notificationBarContainer--notification {
      margin-left: -95px !important;
      width: 118.9rem !important;

    }
}

@media (max-width: 1024px) {
  .notificationBarContainer--notification {
    margin-left: 0 !important;
    width: 100% !important;
    background: #415A77;

  }
}

@media (max-width: 320px) {
  .notificationContent--notification {
    font-size: 0.8rem;
  }
}
