.container--sticky-header {
  background-color: var(--primary-orange);
  color: #fff;
  padding: 0 5%;
}

.vtex-sticky-layout-0-x-wrapper--sticky-header--stuck .container--sticky-header {
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}
