.menuContainerNav--header-menu {
  display: flex;
}

.menuContainerNav--header-menu .menuItem--root {
  margin: 0 2vw;
  padding: 0;
}

.menuContainerNav--header-menu .menuItem--root:last-child {
  margin-right: 0;
}

.menuContainerNav--header-menu .menuItem--root .styledLinkContainer--root {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
}

.menuContainerNav--header-menu .menuItem--root .styledLinkIcon--root {
  margin: 0;
}

.menuContainerNav--header-menu .menuItem--root .styledLink {
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuContainerNav--header-menu .menuItem--root--isClosed .styledLink--root {
  padding-top: 4px;
  padding-bottom: 4px;
}

.menuContainerNav--header-menu .menuItem--root .styledLink--root--highlight {
  height: 100%;
  background: var(--primary-blue);
  padding: 0 2vw;
  border-radius: 4px;
  border: none;
}

.menuContainerNav--header-menu .submenuWrapper {
  background-color: var(--secondary-orange);
  padding: 22px 5%;
  border: none;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}

.menuContainerNav--header-menu .submenuWrapper .styledLink {
  font-size: 1.15rem;
}

.menuContainerNav--header-menu
  .submenuWrapper
  :global(.vtex-flex-layout-0-x-flexRow--header-menu-content) {
  width: 100%;
}

.menuContainerNav--header-menu
  :global(.vtex-rich-text-0-x-paragraph--header-menu-content-title) {
  color: #fff;
  font-weight: 500;
  margin-top: 0;
  font-size: 1.15rem;
}

.menuContainerNav--header-menu .submenuWrapper .styledLink {
  justify-content: start;
}

.menuContainerNav--header-menu--search .menuItem {
  margin-left: 2vw;
}

.menuContainerNav--header-menu--search .menuItem .styledLink {
  margin: 10px 0;
  padding: 4px 1.2vw;
  border-right: 2px solid var(--secondary-orange) !important;
  border-left: 2px solid var(--secondary-orange) !important;
}

.menuContainerNav--header-menu--search .menuItem--isOpen .styledLink {
  border-color: transparent;
  padding-bottom: 0;
  border-bottom: 4px solid transparent !important;
}

.menuContainerNav--header-menu--search .menuItem--isOpen .styledLinkIcon,
.menuContainerNav--header-menu--search .menuItem .styledLinkIcon:hover {
  color: var(--primary-blue);
}

.menuContainerNav--header-menu--search .submenuWrapper {
  background-color: #fff;
  border: none;
  margin: 0;
}

.menuContainerNav--header-menu .accordionIcon {
  color: #fff;
  font-size: 0;
  transition: all 250ms ease-out 0s;
}

.menuContainerNav--header-menu .accordionIcon::before {
  content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHZlcnNpb249IjEuMSI+CjxnIGlkPSJzdXJmYWNlMSI+CjxwYXRoIHN0eWxlPSJmaWxsOm5vbmU7c3Ryb2tlLXdpZHRoOjM7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOm1pdGVyO3N0cm9rZTpyZ2IoMTAwJSwxMDAlLDEwMCUpO3N0cm9rZS1vcGFjaXR5OjE7c3Ryb2tlLW1pdGVybGltaXQ6NDsiIGQ9Ik0gMTguNzU5NTIxIDIuMzc3OTMgTCAxMC4zNzY5NTMgMTAuNzYwNDk4IEwgMS45OTk1MTIgMi4zNzc5MyAiIHRyYW5zZm9ybT0ibWF0cml4KDAuNzYxOTA1LDAsMCwwLjc2MTkwNSwwLDMuMDQ3NjE5KSIvPgo8L2c+Cjwvc3ZnPgo=");
}

.menuContainerNav--header-menu .accordionIcon--isOpen {
  transform: rotate(-180deg);
  transition: all 250ms ease-out 0s;
}

.menuContainerNav--header-menu .submenuAccordion .styledLinkContainer {
  margin: 0;
  padding: 6px 0;
}

.menuContainerNav--header-menu .submenuAccordion .styledLink {
  justify-content: start;
}

@media (min-width: 1024px) {
  .menuContainerNav--header-menu .menuItem--root--isOpen .styledLink--root {
    padding-top: 4px;
    padding-bottom: 0;
    border-bottom: 4px solid var(--primary-blue);
  }
}

@media (max-width: 1700px) {
  .menuContainerNav--header-menu .submenuWrapper {
    padding: 22px 3%;
  }

  .menuContainerNav--header-menu:not(.menuContainerNav--header-menu--search)
    .menuItem--root {
    margin: 0 1vw;
    padding: 0;
  }

  .menuContainerNav--header-menu .styledLinkContent--root {
    font-size: 1.1rem;
  }

  .menuContainerNav--header-menu .submenuWrapper .styledLinkContent {
    font-size: 1rem;
  }

  .menuContainerNav--header-menu--search .menuItem {
    margin-left: 1vw;
  }

  .menuContainerNav--header-menu
    .submenuWrapper
    :global(.vtex-rich-text-0-x-paragraph--header-menu-content-title) {
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  .menuContainerNav--header-menu--search .menuItem .styledLink {
    border: none !important;
    margin: 0;
  }

  .menuContainerNav--header-menu .menuItem .styledLinkContent--root {
    white-space: pre-line;
  }

  .menuContainerNav--header-menu
    :global(.vtex-rich-text-0-x-paragraph--header-menu-content-title) {
    font-size: 1rem;
  }

  .menuContainerNav--header-menu .menuItem--root .styledLink--root--highlight {
    padding: 12px 2vw;
    border-radius: 18px;
  }

  .menuContainerNav--header-menu .menuItem--root .styledLink--root {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .menuContainerNav--header-menu .menuItem--root .styledLinkIcon--whatsapp {
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menuContainerNav--header-menu
    .menuItem--root
    .styledLink--whatsapp--highlight {
    padding: 12px 25px;
    max-width: 260px;
  }

  .menuContainerNav--header-menu .menuItem--root .styledLinkContent--whatsapp {
    white-space: pre-line;
    line-height: 27px;
  }
}
