.openIconContainer {
  padding: 0;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer--header-menu-mobile {
  background-color: #f1f3f9;
}

.closeIconButton {
  color: var(--primary-blue);
  padding-bottom: 0;
}

.drawer--header-menu-mobile
  :global(.vtex-menu-2-x-menuContainerNav--header-menu),
.drawer--header-menu-mobile :global(.vtex-menu-2-x-menuContainer--header-menu),
.drawer--header-menu-mobile :global(.vtex-menu-2-x-styledLink--root),
.drawer--header-menu-mobile :global(.vtex-menu-2-x-styledLinkContent--root),
.drawer--header-menu-mobile
  :global(.vtex-flex-layout-0-x-flexRow--header-menu-mobile),
.drawer--header-menu-mobile
  :global(.vtex-flex-layout-0-x-flexRow--header-menu-content) {
  width: 100%;
}

.drawer--header-menu-mobile :global(.vtex-menu-2-x-menuItem--root) {
  margin: 0;
}

.drawer--header-menu-mobile
  :global(.vtex-flex-layout-0-x-flexRow--header-menu-mobile)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth)
    :global(.vtex-flex-layout-0-x-flexCol--header-menu-mobile) {
  padding: 0 5px;
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
}

.drawer--header-menu-mobile
  :global(.vtex-flex-layout-0-x-flexRow--header-menu-mobile)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child
    :global(.vtex-flex-layout-0-x-flexCol--header-menu-mobile) {
  border: none;
  margin: 0;
}

.childrenContainer--header-menu-mobile{
  flex-direction: column;
}