.summaryItemLabel {
  font-family: 'Mukta';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 0px;
color: #000000;
}

.summaryItemContainer:last-child .summaryItemLabel {
  font-weight: 500;
  font-size: 26px;
  line-height: 0px;
  padding-top: 5px;
}

.summaryItemPrice {
  font-family: 'Mukta';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 15px;
color: #000000;
}

.summaryItemContainer:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.summarySmallDisclaimer{
  margin: 0px;
}

.summarySmallContent .summaryItemContainer:last-child{
  padding-top: 10px;
}