.profileIcon {
  color: #fff;
}

.container {
  margin: 10px 0;
}

.container :global(.vtex-button) {
  border: none;
  background-color: transparent;
}

.container :global(.vtex-button__label) {
  padding: 0 !important;
  width: 28px;
  margin: 0 20px;
}

.container :global(.vtex-button):hover .profileIcon {
  color: var(--primary-blue);
}

.optionsList .optionsListItem :global(.vtex-button__label),
.optionsList .optionsListItem :global(.vtex-button__label) .oauthLabel {
  text-transform: initial;
  font-size: 16px;
  font-family: 'Mukta';
}

.optionsList .optionsListItem :global(.vtex-button__label) .oauthProvider {
  font-weight: normal;
  font-size: 16px;
  font-family: 'Mukta';
}

@media (max-width: 1025px) {
  .container :global(.vtex-button__label) {
    margin: 0 15px;
  }
}
