.minicartWrapperContainer {
  margin: 10px 0;
}

.minicartIconContainer {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minicartContainer .openIconContainer {
  padding: 0;
}

.minicartQuantityBadgeDefault {
  top: 0px;
  left: 5px;
  background: transparent;
  font-size: 1rem;
}

.minicartContainer .openIconContainer :global(.vtex-button) {
  border: none;
  background-color: transparent;
}

.minicartContainer .openIconContainer :global(.vtex-button):hover .minicartIconContainer {
  color: var(--primary-blue);
}

.minicartContainer .openIconContainer :global(.vtex-button):hover .minicartQuantityBadge {
  color: #feea70;
}

.drawer {
  background-color: var(--tertiary-blue);
}

.drawer .closeIconButton {
  color: #000000;
}

.drawer .closeIconContainer {
  position: absolute;
  justify-content: end;
  left: 0;
}

.drawer .closeIcon {
  width: 24px;
  height: 24px;
}

.drawer .minicartSideBarContentWrapper {
  height: 100vh !important;
}

.minicartCheckoutButton :global(.vtex-button__label) {
  font-size: 0;
}

.minicartCheckoutButton :global(.vtex-button__label)::after {
  content: "Ir a compra";
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 165.5%;
  color: #FFFFFF;
  text-transform: initial;
}

.drawer .minicartTitle {
  margin: 0 12px;
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 43px;
  color: #000000;
}

.drawer :global(.vtex-product-list-0-x-productPriceContainer) {
  text-align: center;
}

.drawer :global(.vtex-flex-layout-0-x-flexRow--minicart-item) {
  background-color: #fff;
  padding-right: 15px;
}

.drawer :global(.vtex-product-list-0-x-productImage) {
  border-radius: 0;
}

.drawer :global(.vtex-product-list-0-x-productName) {
  line-height: 23px;
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 22.6821px;
  color: #000000;
}

.drawer :global(.vtex-product-list-0-x-quantitySelectorButton) {
  border: none;
  background: #fff;
  color: #000000;
}

.drawer :global(.vtex-product-list-0-x-inputContainer) {
  width: 50px;
  border: none;
  color: var(--primary-blue);
  padding: 0.125rem 0.75rem;
}

.drawer :global(.vtex-product-list-0-x-quantitySelectorWrapper) {
  border-radius: 4px;
  border: 1px solid #000000;
}

.drawer :global(.vtex-product-list-0-x-productVariationsItem) {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 168.7%;
  color: #000000;
}

.drawer :global(.vtex-product-list-0-x-productImageContainer) {
  width: 136px !important;
  height: 136px;
  padding-top: 10px;
  padding-left: 5px;
}

@media (min-width: 1025px) {
  .minicartContainer .openIconContainer :global(.vtex-button) :global(.vtex-button__label) {
    padding-right: 0;
  }
}

@media (max-width: 1024px) {
  .drawer .minicartTitle {
    margin-top: 30px !important;
  }

  .drawer .minicartTitle::before {
    content: "Tu";
    margin-right: 10px;
  }

  .minicartCheckoutButton :global(.vtex-button__label)::after {
    content: "Ir a pagar";
  }

}

@media (max-width: 700px) {
  .minicartContainer .openIconContainer :global(.vtex-button) :global(.vtex-button__label) {
    padding: 0 15px;
  }

  .drawer {
    width: 100% !important;
  }

  .drawer :global(.vtex-product-list-0-x-productImageContainer) {
    width: 100% !important;
    min-width: 120px;
  }

  .drawer :global(.vtex-product-list-0-x-productName),
  .drawer :global(.vtex-product-list-0-x-productPrice) {
    font-size: 1rem;
    line-height: 1;
  }

  .drawer :global(.vtex-flex-layout-0-x-flexRowContent--selectores) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    margin-bottom: 10px;
  }

  .drawer :global(.vtex-flex-layout-0-x-flexRowContent--selectores) :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 425px) {
  .drawer .minicartTitle {
    font-size: 20.461px;
    line-height: 31px;
  }
}
