.menuContainerNav--header-menu {
  display: flex;
}

.menuContainerNav--header-menu .menuItem--root {
  margin: 0 2vw;
  padding: 0;
}

.menuContainerNav--header-menu .menuItem--root:last-child {
  margin-right: 0;
}

.menuContainerNav--header-menu .menuItem--root .styledLinkContainer--root {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
}

.menuContainerNav--header-menu .menuItem--root .styledLinkIcon--root {
  margin: 0;
}

.menuContainerNav--header-menu .menuItem--root .styledLink {
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuContainerNav--header-menu .menuItem--root--isClosed .styledLink--root {
  padding-top: 4px;
  padding-bottom: 4px;
}

.menuContainerNav--header-menu .menuItem--root--isOpen .styledLink--root {
  padding-top: 4px;
  padding-bottom: 0;
  border-bottom: 4px solid var(--primary-blue);
}

.menuContainerNav--header-menu .menuItem--root .styledLink--root--highlight {
  height: 100%;
  background: var(--primary-blue);
  padding: 0 2vw;
  border-radius: 4px;
  border: none;
}

.menuContainerNav--header-menu .submenuWrapper {
  background-color: var(--secondary-orange);
  padding: 22px 5%;
  border: none;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}

.menuContainerNav--header-menu .submenuWrapper .styledLink {
  font-size: 1.15rem;
}

.menuContainerNav--header-menu
  .submenuWrapper
  :global(.vtex-flex-layout-0-x-flexRow--header-menu-content) {
  width: 100%;
}

.menuContainerNav--header-menu
  .submenuWrapper
  :global(.vtex-rich-text-0-x-paragraph--header-menu-content-title) {
  color: #fff;
  font-weight: 500;
  margin-top: 0;
  font-size: 1.15rem;
}

.menuContainerNav--header-menu .submenuWrapper .styledLink {
  justify-content: start;
}

.menuContainerNav--header-menu--search .menuItem {
  margin-left: 2vw;
}

.menuContainerNav--header-menu--search .menuItem .styledLink {
  margin: 10px 0;
  padding: 4px 1.2vw;
  border-right: 2px solid var(--secondary-orange) !important;
  border-left: 2px solid var(--secondary-orange) !important;
}

.menuContainerNav--header-menu--search .menuItem--isOpen .styledLink {
  border-color: transparent;
  padding-bottom: 0;
}

.menuContainerNav--header-menu--search .menuItem .styledLinkIcon:hover {
  color: var(--primary-blue);
}

.menuContainerNav--header-menu--search .submenuWrapper {
  background-color: #fff;
  border: none;
  margin: 0;
}

@media (max-width: 1700px) {
  .menuContainerNav--header-menu .submenuWrapper {
    padding: 22px 3%;
  }

  .menuContainerNav--header-menu:not(.menuContainerNav--header-menu--search)
    .menuItem--root {
    margin: 0 1vw;
    padding: 0;
  }

  .menuContainerNav--header-menu .styledLinkContent--root {
    font-size: 1.1rem;
  }

  .menuContainerNav--header-menu .submenuWrapper .styledLinkContent {
    font-size: 1rem;
  }

  .menuContainerNav--header-menu--search .menuItem {
    margin-left: 1vw;
  }

  .menuContainerNav--header-menu
    .submenuWrapper
    :global(.vtex-rich-text-0-x-paragraph--header-menu-content-title) {
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  /* .menuContainerNav--header-menu--search .menuItem {
    border: none;
    margin: 0;
  } */
}
