.profileIcon {
  color: #fff;
}

.container {
  margin: 10px 0;
  border-right: 2px solid var(--secondary-orange);
}

.container :global(.vtex-button) {
  border: none;
  background-color: transparent;
}

.container :global(.vtex-button__label) {
  padding: 0 !important;
  width: 28px;
  margin: 0 25px;
}

.container :global(.vtex-button):hover .profileIcon {
  color: var(--primary-blue);
}
