:global(.vtex-sticky-layout-0-x-container--sticky-header) .logoLink {
  display: flex;
  align-items: center;
  justify-content: start;
}

:global(.vtex-sticky-layout-0-x-container--sticky-header) .logoContainer {
  padding: 5px;
  margin: 0;
  margin-right: 5px;
  display: flex;
  max-width: none;
}

.autoCompleteOuterContainer {
  margin-left: 15px;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  border: none;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input)::placeholder {
  color: rgba(0, 47, 135, 0.46);
}

.searchBarContainer .searchBarIcon {
  padding: 0;
}

.searchBarContainer .searchIcon {
  width: 25px;
  height: 25px;
  color: #002f87;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input),
.searchBarContainer :global(.vtex-input__suffix) {
  background-color: #ffffff;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  font-size: 0.9rem;
}

.notificationBarContainer--notification {
 margin-left: -67px;
  width: 84.3rem;
  background: #1d3557;
  text-decoration: none;
}

.notificationContent--notification {
  font-size: 1rem;
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  color: #93ecff;
}

@media screen and (min-width: 1400px) and (max-width: 1440px){
  .notificationBarContainer--notification {
    margin-left: -71px;
    width: 89.9rem;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1920px)  {
  :global(.vtex-sticky-layout-0-x-container--sticky-header) .notificationBarContainer--notification {
    margin-left: -95px;
    width: 118.9rem;
  }
}

@media screen and (min-width: 1921px){
  :global(.vtex-sticky-layout-0-x-container--sticky-header) .notificationBarContainer--notification {
    margin-left: -95px;
    width: 119.9rem;
  }
}

@media (min-width: 1400px) {
  .searchBarContainer :global(.vtex-styleguide-9-x-input) {
    font-size: 1rem;
  }
}


@media (max-width: 1024px) {
  .notificationBarContainer--notification {
    margin-left: 0 !important;
    width: 100% !important;
    background: #415a77;
  }

  .autoCompleteOuterContainer :global(.vtex-input__prefix) {
    background: white;
  }

  .autoCompleteOuterContainer :global(.vtex-input__suffix) {
    display: none;
  }

  .searchBarContainer {
    background: white;
  }
}

@media (max-width: 320px) {
  .notificationContent--notification {
    font-size: 0.8rem;
  }
}
