.biggy-autocomplete-wrapper {
  width: 100%;
}

/* .biggy-autocomplete,
.biggy-autocomplete.biggy-js-container--hidden {
  position: relative;
  opacity: 1;
  max-height: none !important;
  transition: none;
  box-shadow: none;
  padding: 40px 20px;
} */

.biggy-autocomplete .itemListTitle,
.biggy-autocomplete .tileListTitle {
  text-transform: none;
  font-size: 1.25rem;
}

.biggy-autocomplete .itemListIcon {
  display: none;
}

.biggy-autocomplete .itemListLinkTitle {
  font-size: 1.1rem;
  text-transform: capitalize;
}

.biggy-autocomplete .close-btn {
  display: none;
}

.biggy-autocomplete .tileListSeeMore {
  color: var(--primary-blue);
}

.itemListPrefix {
  display: none;
}

.biggy-autocomplete {
  background-color: #ed752d;
  padding: 0 20px;
  border-radius: 4px;
}

.itemListLinkTitle {
  color: #fff;
}

.itemListLink {
  padding: 15px !important;
  height: auto !important;
  line-height: initial !important;
  font-size: 1rem !important;
  text-transform: capitalize;
  border-bottom: 1px solid white;
}

:global(.vtex-search-2-x-itemListLink):hover {
  background: #062f87 !important;
}

.itemList--top-search {
  margin: 20px 0;
}

.tileListItem :global(.vtex-product-summary-2-x-productBrand--shelf__name) {
  color: white;
  font-size: 1rem;
  height: auto !important;
  padding-bottom: 5px;
  font-family: "Titillium Web";
}

.tileListItem :global(.vtex-product-summary-2-x-nameContainer--shelf__name) {
  text-align: left;
  justify-content: flex-start;
  padding: 5px;
  border-bottom: 1px solid white;
}

.tileListItem :global(.vtex-product-summary-2-x-element) {
  padding: 0;
}

.tileListSeeMore {
  color: white !important;
}

.tileListItem :global(.vtex-product-summary-2-x-clearLink) {
  text-decoration: none;
}
.tileListItem :global(.vtex-product-summary-2-x-container) {
  max-width: none !important;
}

.tileList {
  border: none;
}

@media (max-width: 900px) {
  .biggy-autocomplete {
    /* .biggy-autocomplete.biggy-js-container--hidden { */
    padding: 20px 5px;
  }

  .biggy-autocomplete .itemListTitle,
  .biggy-autocomplete .tileListTitle {
    font-size: 1.1rem;
    padding: 0;
    margin-top: 10px;
  }

  .biggy-autocomplete .itemListLinkTitle {
    font-size: 1rem;
  }

  .biggy-autocomplete .tileList {
    border: none;
  }
}
