.paragraph--button-trigger-quickPurchase {
    background-color: #FC701C;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    font-family: 'Mukta';
    font-style: normal;
    white-space: nowrap;
    padding: 8px 14px;
    border-radius: 3.95553px;
    display: flex;
    align-items: center;
}

:global(.vtex-modal-layout-0-x-triggerContainer--container-modal-quickPurchase) {
    width: 100%;
    padding-left: 16px;
}

:global(.vtex-add-to-cart-button-0-x-buttonText)::before,
.paragraph--button-trigger-quickPurchase::before {
    content: "";
    background-image: url(/arquivos/carrito-new.png);
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}

:global(.vtex-add-to-cart-button-0-x-buttonText) {
    display: flex;
    align-items: center;
    text-transform: initial;
}

@media (max-width: 768px) {
    .paragraph--button-trigger-quickPurchase {
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    :global(.vtex-modal-layout-0-x-triggerContainer--container-modal-quickPurchase) {
        padding-left: 10px;
    }

}