:global(.vtex-account) :global(.w-100) {
  padding-top: 0;
  padding-bottom: 0;
}

.menu {
  width: 425px;
  background: #FFFFFF;
  padding-top: 4rem !important;
  /* padding-bottom: 4rem !important; */
}

/* :global(.vtex-account) :global(.w-100) div:first-child {
background-color: red;
height: auto;
} */

:global(.vtex-account__page) {
  background-color: #f1f3f9;
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
  padding-left: 4rem;
  width: 100% !important;
  height: 100% !important;
}

.userGreeting {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 19.2228px;
  line-height: 29px;
  color: #000000;
}

.userName {
  font-family: 'Titillium Web';
  font-style: normal;
  font-size: 19.2228px;
  line-height: 29px;
  color: #000000;
}

.menuLinks :global(.vtex-account_menu-link),
.menuLink {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 165.5%;
  color: #000000;

}

.menuLinks :global(.vtex-account_menu-link) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Perfil */

:global(.vtex-account__page) :global(.vtex-pageHeader__container) :global(.vtex-pageHeader__title) {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
}

:global(.vtex-my-account-1-x-profile) main {
  display: flex;
  flex-direction: column;
}

:global(.vtex-my-account-1-x-profile) main :global(.w-60-ns),
:global(.vtex-my-account-1-x-profile) main :global(.w-40-ns) {
  width: 100% !important;
}

.boxContainer {
  border: none;
}

.boxContainerFooter :global(.vtex-button) {
  background-color: #ED752D;
}

.boxContainerFooter :global(.vtex-button) :global(.vtex-button__label) {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 165.5%;
  color: #FFFFFF;
  text-transform: capitalize;
}

.dataEntryLabel {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.dataEntryChildren {
  font-family: 'Mukta';
}

.passwordBox :global(.vtex-checkbox__container) :global(.vtex-checkbox__inner-container) {
  border: 1px solid #000000;
  border-radius: 5px;
}

.passwordBox :global(.vtex-checkbox__line-container) {
  display: flex;
  align-items: center;
}

.passwordBox :global(.vtex-checkbox__label),
.newsletterContainerMessage {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.newsletterContainerTitle {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 165.5%;
  color: #000000;
}

.profileFormBoxContainer :global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-profile-form-3-x-styleguideInput) :global(.vtex-input) :global(.vtex-input__label),
.profileFormBoxContainer :global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-profile-form-3-x-genderInput) :global(.vtex-dropdown) :global(.vtex-dropdown__label) {
  /* display: none; */
  font-family: 'Mukta';
font-style: normal;
font-weight: 500;
font-size: 20px;
color: #000000;
}

.profileFormBoxContainer :global(.mw6-ns) {
  max-width: 75%;
}

.profileFormBoxContainer :global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-profile-form-3-x-personalFields) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profileFormBoxContainer :global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-profile-form-3-x-personalFields) :global(.vtex-profile-form-3-x-styleguideInput) {
  width: 270px;
}

.profileFormBoxContainer :global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-profile-form-3-x-personalFields) :global(.vtex-profile-form-3-x-styleguideInput) input,
.profileFormBoxContainer :global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-profile-form-3-x-genderInput) :global(.vtex-dropdown) :global(.vtex-dropdown__button) {
  background: #FFFFFF;
  padding: 15px;
  border: 1px solid rgba(72, 84, 103, 0.6);
  border-radius: 4px;
  gap: 216px;
}

.c .boxContainer .boxContainerBody {
  padding-left: 1.5rem;
}

.profileFormBoxContainer :global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-profile-form-3-x-styleguideInput) :global(.vtex-input-prefix__group) input {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.profileFormBoxContainer :global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-profile-form-3-x-genderInput) :global(.vtex-dropdown) :global(.br2) :global(.f6) {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.profileFormBoxContainer :global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper) :global(.vtex-button) {
  width: 100%;
}

.profileFormBoxContainer :global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-button) {
  width: 270px;
  padding: 15px 15px;
}

.profileFormBoxContainer :global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-button) :global(.vtex-button__label) {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  padding-top: 0;
  padding-bottom: 0;
}

.boxContainerBody :global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper) :global(.vtex-button) {
  font-family: 'Lato';
  font-size: 20px;
  color: #ED752D;
  border: 1px solid rgba(72, 84, 103, 0.6);
  border-radius: 4px;
  background-color: #FFFFFF;
  text-transform: capitalize;
}

.boxContainerBody :global(.vtex-profile-form-3-x-businessFields) :global(.vtex-profile-form-3-x-styleguideInput) :global(.vtex-input) :global(.vtex-input__label) {
  display: flex !important;
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.boxContainerBody :global(.vtex-profile-form-3-x-businessFields) :global(.vtex-profile-form-3-x-styleguideInput) :global(.vtex-input) :global(.vtex-input-prefix__group) input {
  border: 1px solid rgba(72, 84, 103, 0.6);
  padding: 15px;
}

/* Perfil */
/* direccion */
:global(.vtex-account__page) :global(.vtex-pageHeader__container) :global(.vtex-pageHeader__children) :global(.newAddressButton) :global(.vtex-button) {
  text-transform: capitalize;
  color: #FFFFFF;
  margin-top: 25px;
}

.addressList :global(.t-heading-4) {
  font-family: 'Mukta';
  font-size: 20px;
  color: #000000;
  margin-top: 20px;
}

:global(.vtex-pageHeader-link__container) :global(.vtex-button) {
  font-family: 'Mukta';
  font-size: 20px;
  margin-top: 20px;
  text-transform: capitalize;
  background-color: #ED752D;
  padding: 5px;
}

:global(.vtex-pageHeader-link__container) :global(.vtex-button) :global(.t-action--small),
:global(.vtex-account__page-body) :global(.vtex-my-authentication-1-x-authenticationScreen_container) :global(.vtex-my-authentication-1-x-box_footer) :global(.vtex-button) :global(.vtex-button__label) {
  text-transform: capitalize;
}

.boxContainerBody :global(.vtex-address-form-4-x-dropdown) :global(.vtex-dropdown__label),
.boxContainerBody :global(.vtex-address-form__addressQuery) :global(.vtex-input__label) {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  font-size: 20px;
  color: #000000;
}

:global(.vtex-address-form-4-x-dropdown) :global(.vtex-address-form-4-x-container) :global(.vtex-dropdown__button) :global(.vtex-dropdown__arrow) {
  color: #000000;
}

:global(.vtex-address-form-4-x-dropdown) :global(.vtex-address-form-4-x-container) :global(.vtex-dropdown__button),
.boxContainerBody :global(.vtex-address-form__addressQuery) :global(.vtex-input-prefix__group) :global(.vtex-address-form-4-x-input) {
  font-family: 'Titillium Web';
  font-size: 19px;
  color: #000000;
}

.addressCreate .boxContainerBody :global(.vtex-button),
:global(.vtex-account__page-body) :global(.vtex-my-authentication-1-x-loginSessionsScreen_container) :global(.vtex-my-authentication-1-x-loginSessions_box) :global(.vtex-my-authentication-1-x-box_container) :global(.vtex-my-authentication-1-x-box_footer) :global(.vtex-button) :global(.vtex-button__label) {
  text-transform: capitalize;
}

/* direccion */
/* pedidos */
:global(.vtex-account__page) :global(.vtex-my-orders-app-3-x-ordersList) :global(.c-on-base),
:global(.vtex-account__cards-list) :global(.c-on-base) {
  font-family: 'Mukta';
  color: #000000;
  font-size: 20px;
}

/* pedidos */
/* tarjetas de credito */
:global(.vtex-pageHeader__container) :global(.vtex-my-cards-1-x-newCardButton) :global(.vtex-button) :global(.vtex-button__label) {
  text-transform: capitalize;
  color: #FFFFFF;
}

/* :global(.vtex-account__create-card) {

} */

/* tarjetas de credito */

/* suscripcion */

:global(.vtex-pageHeader__container) :global(.c-on-base) :global(.vtex-pageHeader__title) :global(.normal) {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
}

:global(.vtex-account) :global(.flex) :global(.vtex-pageHeader__container) :global(.vtex-pageHeader__children) :global(.vtex-button) :global(.vtex-button__label),
:global(.vtex-account) :global(.flex) form :global(.pa5) :global(.styleguide__box) :global(.mb7) :global(.vtex-button) :global(.vtex-button__label),
:global(.vtex-account) :global(.flex) form :global(.pa5) :global(.w-100) :global(.mt7) :global(.vtex-button) :global(.vtex-button__label),
:global(.vtex-account) form :global(.styleguide__box) :global(.t-body) :global(.vtex-button) :global(.vtex-button__label),
:global(.vtex-account) form :global(.styleguide__box) :global(.mt3) :global(.vtex-button) :global(.vtex-button__label),
:global(.vtex-my-authentication-1-x-resendCodeButton_container) :global(.vtex-button) :global(.vtex-button__label) {
  text-transform: capitalize;
}

:global(.vtex-account) :global(.flex) form :global(.pa5) :global(.styleguide__box) :global(.t-heading-4),
:global(.vtex-account) :global(.flex) form :global(.pa5) :global(.styleguide__box) :global(.pa7) :global(.t-small) {
  color: #000000;
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
}

:global(.vtex-account) :global(.flex) :global(.pa5) :global(.w5) :global(.vtex-styleguide-9-x-dropdown) :global(.vtex-dropdown__label) {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

:global(.vtex-account) :global(.flex) :global(.pa5) :global(.w5) :global(.vtex-styleguide-9-x-dropdown) :global(.vtex-dropdown__button) {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  color: #000000;
}

:global(.vtex-account) :global(.flex) :global(.pa5) :global(.flex) :global(.w-80) :global(.t-body) {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

:global(.vtex-account) :global(.flex) :global(.pa5) :global(.flex) :global(.w-80) :global(.t-heading-4) {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  color: #000000;
}

:global(.vtex-styleguide-9-x-shadowTransition) :global(.f3),
:global(.styles_modal__gNwvD) :global(.vtex-styleguide-9-x-scrollBar) :global(.vtex-input) :global(.vtex-input__label),
:global(.styles_modal__gNwvD) :global(.vtex-styleguide-9-x-scrollBar) :global(.vtex-input) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input),
:global(.styles_modal__gNwvD) :global(.vtex-styleguide-9-x-scrollBar) :global(.mt8) :global(.flex) :global(.w-80) :global(.t-body) :global(.mt5) {
  font-family: 'Titillium Web';
  color: #000000;
}

:global(.vtex-account) form :global(.styleguide__box) :global(.t-body) :global(.vtex-button),
:global(.vtex-account) form :global(.styleguide__box) :global(.mt3) :global(.vtex-button),
:global(.vtex-my-authentication-1-x-resendCodeButton_container) :global(.vtex-button) {
  background-color: #ED752D;
}

/* suscripcion */
/* autenticacion */
:global(.vtex-account__page-body) :global(.vtex-my-authentication-1-x-authenticationScreen_container) :global(.vtex-my-authentication-1-x-box_container) :global(.vtex_my-authentication_box_content) :global(.vtex_my-authentication_maskedPassword_title),
:global(.vtex-account__page-body) :global(.vtex-my-authentication-1-x-authenticationScreen_container) :global(.vtex-my-authentication-1-x-box_container) :global(.vtex_my-authentication_box_content) :global(.vtex_my-authentication_loginSessionsBox_title) {
  font-family: 'Titillium Web';
  color: #000000;
}


:global(.vtex-account__page-body) :global(.vtex-my-authentication-1-x-authenticationScreen_container) :global(.vtex-my-authentication-1-x-box_container) :global(.vtex_my-authentication_box_content) :global(.vtex_my-authentication_maskedPassword_content),
:global(.vtex-account__page-body) :global(.vtex-my-authentication-1-x-authenticationScreen_container) :global(.vtex-my-authentication-1-x-box_container) :global(.vtex_my-authentication_box_content) :global(.vtex_my-authentication_loginSessionsBox_content) {
  font-family: 'Titillium Web';
  color: #000000;
  font-size: 20px;
}

:global(.vtex-account__page-body) :global(.vtex-my-authentication-1-x-authenticationScreen_container) :global(.vtex-my-authentication-1-x-box_footer) :global(.vtex-button) {
  background-color: #ED752D;
}

:global(.vtex-account__page-body) :global(.vtex-my-authentication-1-x-loginSessionsScreen_container) {
  margin-right: 0;
}

:global(.vtex-account__page-body) :global(.vtex-my-authentication-1-x-loginSessionsScreen_container) :global(.vtex-my-authentication-1-x-loginSessions_box) :global(.vtex-my-authentication-1-x-box_container) :global(.vtex-my-authentication-1-x-box_header) :global(.vtex-my-authentication-1-x-loginSession_currSessionText),
:global(.vtex-account__page-body) :global(.vtex-my-authentication-1-x-loginSessionsScreen_container) :global(.vtex-my-authentication-1-x-loginSessions_box) :global(.vtex-my-authentication-1-x-box_container) :global(.vtex-my-authentication-1-x-box_content) :global(.vtex-my-authentication-1-x-loginSession_device) {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}

:global(.vtex-account__page-body) :global(.vtex-my-authentication-1-x-loginSessionsScreen_container) :global(.vtex-my-authentication-1-x-loginSessions_box) :global(.vtex-my-authentication-1-x-box_container) :global(.vtex-my-authentication-1-x-box_content) :global(.vtex-my-authentication-1-x-loginSession_lastAccess),
:global(.vtex-account__page-body) :global(.vtex-my-authentication-1-x-loginSessionsScreen_container) :global(.vtex-my-authentication-1-x-loginSessions_box) :global(.vtex-my-authentication-1-x-box_container) :global(.vtex-my-authentication-1-x-box_content) :global(.vtex-my-authentication-1-x-loginSession_originDetails),
:global(.vtex-account__page-body) :global(.vtex-my-authentication-1-x-loginSessionsScreen_container) :global(.vtex-my-authentication-1-x-loginSessions_box) :global(.vtex-my-authentication-1-x-box_container) :global(.vtex-my-authentication-1-x-box_content) :global(.vtex-my-authentication-1-x-loginSession_firstAccess) {
  color: #000000;
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

:global(.vtex-account__page-body) :global(.vtex-my-authentication-1-x-loginSessionsScreen_container) :global(.vtex-my-authentication-1-x-loginSessions_box) :global(.vtex-my-authentication-1-x-box_container) :global(.vtex-my-authentication-1-x-box_footer) :global(.vtex-button) {
  background-color: #ED752D;
  color: #FFFFFF;
}

:global(.vtex-my-authentication-1-x-authenticationScreen_container) :global(.vtex-my-authentication-1-x-authenticationScreen_passBox) :global(.vtex-my-authentication-1-x-box_content) :global(.vtex-my-authentication-1-x-createPassword_text) {
  color: #000000;
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

:global(.vtex-my-authentication-1-x-authenticationScreen_container) :global(.vtex-my-authentication-1-x-authenticationScreen_passBox) :global(.vtex-my-authentication-1-x-box_content) :global(.vtex-my-authentication-1-x-createPassword_text) :global(.c-muted-1) {
  color: #ED752D;
}

:global(.vtex-my-authentication-1-x-authenticationScreen_container) :global(.vtex-my-authentication-1-x-authenticationScreen_passBox) :global(.vtex-my-authentication-1-x-box_content) :global(.vtex-my-authentication-1-x-codeInput_container) :global(.vtex-input__label),
:global(.vtex-my-authentication-1-x-authenticationScreen_container) :global(.vtex-my-authentication-1-x-authenticationScreen_passBox) :global(.vtex-my-authentication-1-x-box_content) :global(.vtex-my-authentication-1-x-newPassInput_container) :global(.vtex-input__label),
:global(.vtex-my-authentication-1-x-authenticationScreen_container) :global(.vtex-my-authentication-1-x-authenticationScreen_passBox) :global(.vtex-my-authentication-1-x-box_content) :global(.vtex-my-authentication-1-x-passValidation_container) :global(.vtex-my-authentication-1-x-passValidation_title) {
  color: #000000;
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

:global(.vtex-my-authentication-1-x-authenticationScreen_container) :global(.vtex-my-authentication-1-x-authenticationScreen_passBox) :global(.vtex-my-authentication-1-x-box_content) :global(.vtex-my-authentication-1-x-passValidation_container) :global(.vtex-my-authentication-1-x-passValidation_content) {
  font-family: 'Mukta';
}

:global(.vtex-my-authentication-1-x-newPassInput_container) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input),
:global(.vtex-my-authentication-1-x-codeInput_container) :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input) {
  color: #000000;
  font-family: 'Mukta';
}

/* autenticacion */

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .profileFormBoxContainer :global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-profile-form-3-x-personalFields) :global(.vtex-profile-form-3-x-styleguideInput) {
    width: 200px !important;
  }

  .profileFormBoxContainer :global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-button) {
    width: 200px;
    padding: 0;
  }

  .profileFormBoxContainer :global(.mw6-ns) {
    max-width: 90%;
  }

  .profileFormBoxContainer :global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper) :global(.vtex-button) {
    padding: 15px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .profileFormBoxContainer :global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper) :global(.vtex-button) {
    padding: 15px;
  }

  .menu {
    width: 350px;
  }

  .profileFormBoxContainer :global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-profile-form-3-x-personalFields) :global(.vtex-profile-form-3-x-styleguideInput) {
    width: 150px !important;
  }

  .profileFormBoxContainer :global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-button) {
    width: 150px;
    padding: 0;
  }

  .profileFormBoxContainer :global(.mw6-ns) {
    max-width: 100%;
  }

  :global(.vtex-account__page) {
    padding-left: 3rem;
  }

}

@media screen and (min-width: 300px) and (max-width: 320px) {

  .menu,
  :global(.vtex-account__page),
  :global(.vtex-account) {
    width: calc(300px - 15px * 2);
    margin: 0 auto;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {

  .menu,
  :global(.vtex-account__page),
  :global(.vtex-account) {
    width: calc(360px - 15px * 2);
    margin: 0 auto;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {

  .menu,
  :global(.vtex-account__page),
  :global(.vtex-account) {
    width: calc(420px - 20px * 2);
    margin: 0 auto;
  }
}

@media screen and (min-width: 300px) and (max-width: 425px) {


  .profileFormBoxContainer :global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-button) {
    width: 100%;
  }

  .profileFormBoxContainer :global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-profile-form-3-x-personalFields) :global(.vtex-profile-form-3-x-styleguideInput) {
    width: 100% !important;
  }

  .profileFormBoxContainer :global(.mw6-ns) {
    max-width: 100%;
  }

  .profileFormBoxContainer .boxContainer .boxContainerBody {
    padding-left: 0;
    padding-right: 0;
  }

  :global(.vtex-account__page) {
    background-color: #FFFFFF;
    padding-bottom: 2rem !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
  }

  .menu {
    margin-top: -1rem;
  }

  .menu {
    margin-top: 1rem;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0;
    padding-right: 0;
  }

  /* perfil */
  .userInfo div:nth-child(2) {
    display: flex;
    flex-direction: row;
  }

  .userGreeting,
  .userName {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color: #000000;
  }

  .userName {
    margin-left: 7px;
  }

  .menuLinks :global(.vtex-account_menu-link),
  .menuLink {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 165.5%;
    color: #000000;
    padding: 0;
  }

  :global(.vtex-account__page) :global(.vtex-pageHeader__container) :global(.vtex-pageHeader__title) {
    margin-bottom: 10px;
  }

  :global(.vtex-account__page) :global(.vtex-pageHeader__container) :global(.vtex-button) {
    color: #FFFFFF !important;
    font-family: 'Mukta' !important;
    font-size: 20px !important;
  }


  :global(.vtex-pageHeader__container),
  :global(.vtex-account__page-body) {
    padding: 0;
  }

  :global(.vtex-pageHeader__container),
  :global(.vtex-account__page-body) {
    padding-top: 20px;
  }

  .dataEntryChildren {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
  }

  .newsletterContainerMessage {
    font-size: 15px;
    font-family: 'Titillium Web';
  }

  .boxContainerBody :global(.vtex-checkbox__label) {
    font-size: 16px;
  }

  .profileBoxContainer .boxContainerFooter :global(.vtex-button) {
    border-radius: 4px;
  }

  .boxContainerBody :global(.vtex-profile-form-3-x-personalFields) :global(.vtex-profile-form-3-x-styleguideInput) :global(.vtex-input__label),
  .boxContainerBody :global(.vtex-profile-form-3-x-personalFields) :global(.vtex-profile-form-3-x-styleguideInput) :global(.vtex-dropdown__label) {
    font-family: 'Titillium Web';
    font-size: 1rem;
  }

  .boxContainerBody :global(.vtex-profile-form-3-x-personalFields) :global(.vtex-profile-form-3-x-styleguideInput) :global(.lh-title),
  .boxContainerBody :global(.vtex-profile-form-3-x-personalFields) :global(.vtex-profile-form-3-x-styleguideInput) :global(.vtex-dropdown__button) {
    font-family: 'Titillium Web';
  }

  .boxContainerBody :global(.vtex-profile-form-3-x-personalFields) :global(.vtex-profile-form-3-x-styleguideInput) :global(.vtex-input-prefix__group) {
    border-radius: 4px;
  }

  /* perfil */

  /* direccion */

  .addressList :global(.w-80) {
    margin-top: 20px;
  }

  .addressList :global(.t-heading-4) {
    font-size: 15px;
  }

  /* direccion */

  /* Tarjeta de credito */

  :global(.vtex-pageHeader__container) :global(.vtex-my-cards-1-x-newCardButton) :global(.vtex-button) {
    margin-top: 25px;
  }

  /* trajeta de credito */

  /* suscripciones */

  :global(.vtex-account) :global(.flex) :global(.pa5) {
    padding: 0;
    margin-top: 20px;
  }

  :global(.vtex-account) :global(.flex) :global(.vtex-pageHeader__container) :global(.vtex-pageHeader__children) :global(.vtex-button) {
    margin-top: 20px;
  }


  /* suscripciones */

  /* autenticacion */
  :global(.vtex-account__page-body) :global(.vtex-my-authentication-1-x-loginSessionsScreen_container) :global(.vtex-my-authentication-1-x-loginSessions_box) :global(.vtex-my-authentication-1-x-box_container) {
    border: none;
  }

  /* autenticacion */
}
